{% extends 'base.html' %}

{% block title %}Mercado Social de Madrid{% endblock %}


{% block content %}

    <div class="jumbotron py-4 px-2">
        <div class="container">
            <div class="row">
            <div class="col-sm-12">
                <h3 class="mb-0">Informes<i class="material-icons md-18 ">arrow_forward_ios</i>Histórico de socias</h3>
            </div>
        </div>
        </div>
    </div>


<div id="activity_graph_div" class="graph" style="height:45vh;">
	<div class="mes-loader my-2"></div>
</div>

<div class="list-group" id="accordionYears">

        {% for year in report reversed %}

<div class="list-group-item p-0">
    <a aria-controls="collapse{{year.year}}" aria-expanded="false" class="p-0 expansion-panel-toggler collapsed bg-primary text-light " data-toggle="collapse" href="#collapse{{year.year}}" id="heading{{year.year}}">
            <div class="d-flex align-items-center px-4 py-2 w-100">
                <h4 class="mb-0">{{year.year}}</h4>
                <div class="pl-4">
                    <i class="material-icons mr-1">trending_up</i> Altas: {{year.total_signups}}
                </div>
                 <div class="pl-4">
                    <i class="material-icons mr-1">trending_down</i> Bajas: {{year.account_optedout_count}}
                </div>

                <div class="expansion-panel-icon ml-auto text-black-secondary">
                    <i class="collapsed-show material-icons">keyboard_arrow_down</i>
                    <i class="collapsed-hide material-icons">keyboard_arrow_up</i>
                  </div>
            </div>
    </a>

    <div aria-labelledby="heading{{year.year}}" class="collapse" data-parent="#accordionYears" id="collapse{{year.year}}">
      <div class="expansion-panel-body p-0">

      <div class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-4 px-0">
                    <div class="py-2 px-3">
                        <span class="lead pt-1">{{year.provider_signups_count}}</span>
                        <i class="material-icons ml-1">store</i>
                        <small>PROVEEDORAS</small>
                    </div>
                </div>
                <div class="col-md-4 px-0">
                    <div class="bg-light py-2 px-3">
                        <span class="lead pt-1">{{year.consumer_signups_count}}</span>
                        <i class="material-icons ml-1">directions_walk</i>
                        <small>CONSUMIDORAS</small>
                    </div>
                </div>

                <div class="col-md-4 px-0">
                    <div class="bg-light py-2 px-3">
                        <span class="lead pt-1">{{year.account_optedout_count}}</span>
                        <i class="material-icons ml-1">trending_down</i>
                        <small>BAJAS</small>
                    </div>
                </div>
            </div>
        </div>
      </div>
          <div class="container" style="max-height:50vh;overflow-y:scroll;">
              <div class="row">
                <div class="col-md-4 px-0">
                    {% include 'account/report_year.html' with object_list=year.provider_signups object_url_name=year.provider_signups.first.detail_url %}
                </div>
                <div class="col-md-4 px-0">
                    {% include 'account/report_year.html' with object_list=year.consumer_signups object_url_name=year.consumer_signups.first.detail_url %}
                </div>

                <div class="col-md-4 px-0">
                    {% include 'account/report_year.html' with object_list=year.account_optedout object_url_name=year.account_optedout.first.detail_url show_icon=True %}
                </div>

            </div>
          </div>
      </div>
    </div>
</div>

        {% endfor %}
    </div>

{% endblock %}



{% block scripts %}
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script type="text/javascript">
		// Load the Visualization API and the piechart package.
		google.charts.load('current', {'packages':['corechart']});

		// Set a callback to run when the Google Visualization API is loaded.
		google.setOnLoadCallback(drawChart);
		function drawChart() {

			var data = new google.visualization.DataTable();
			var total = 0;
			data.addColumn('string', "Año");
			data.addColumn('number', "Total");
			data.addColumn('number', "Altas");
			data.addColumn('number', "Bajas");

			data.addRows( {{ report|length }} );
			{% for year in report %}
			    total = total + {{year.total_signups}} - {{year.account_optedout_count}};

				data.setValue({{ forloop.counter0 }},0,'{{year.year}}');
				data.setValue({{ forloop.counter0 }},1,total);
				data.setValue({{ forloop.counter0 }},2,{{year.total_signups}});
				data.setValue({{ forloop.counter0 }},3,-{{year.account_optedout_count}});

			{% endfor %}
	        var chart = new google.visualization.ComboChart(document.getElementById('activity_graph_div'));
	        chart.draw(data, {
	            width: "90%",
                vAxis: { maxLines:2, format: 'number' },
                colors: ['#9c27b0', '#4caf50', '#f44336'],
                seriesType: 'bars',
                bar: {groupWidth: "25%"},
                series: { 0: {type: 'line'}},
                lineWidth: 2,
                pointSize: 0,
                chartArea: {left:0,top:0,width:"100%",height:"90%"},
                backgroundColor: 'transparent',

                });
	      }
	</script>
	{% endblock scripts %}
