{% extends 'base.html' %}
{% load staticfiles %}
{% load chunks %}

{% block title %}Nueva categoría{% endblock %}


{% block content %}

    <div class="jumbotron py-4 px-2">
        <div class="container">
            <div class="row">
            <div class="col-sm-12">
                <h4 class="mb-0"><a href="{% url 'currency:guest_user_list' %}">Invitadas</a><i class="material-icons md-18 ">arrow_forward_ios</i> {{object.display_name}}</h4>
            </div>
        </div>
        </div>
    </div>

    <div class="container">
        <form method="post" class="mt-3 p-4">
            {% csrf_token %}

            {{form.as_p}}


        <div class="text-center mt-3">
            <button type="submit" class="btn btn-primary btn-lg">Guardar cambios</button>
        </div>

        </form>
    </div>

{% endblock %}
