{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Mercado Social{% endblock%}

{% block content %}
{% if not 'from_app' in request.GET %}
<div class="jumbotron py-4 px-2">
        <div class="container">
            <div class="row">
            <div class="col-sm-12">
                 <h4 class="mb-0">Invitación</h4>
            </div>
        </div>
        </div>
    </div>
{% endif %}

    <div class="container py-5">
        <h4>¡Tu solicitud se ha registrado correctamente!</h4>
        En breve recibirás información en tu correo para completar el alta como invitada en la aplicación del Mercado Social.
        <div class="text-center">
            <img src="{% static 'imgs/people-success.png' %}" class="img-fluid">
        </div>

    </div>
{% endblock content %}