<div class="form-group form-photo {% if hide_label %} mt-2 {% endif %}" {% if visible_by %}data-visible-by="#{{visible_by.id_for_label}}"{% endif %}>

    <div class="profile h-auto pt-0 mt-3 mb-3">
        <div class="profile-circle small">
           <img id="{{field.id_for_label}}-img" src="{% if field.value %}{{field.value.url}}{% endif %}">
      </div>

        <label for="{{field.id_for_label}}">{{ field.label }} {% if field.field.required %} <span class="text-primary lead">*</span>{% endif %}</label>
        <div class="btn btn-narrow ml-2 btn-sm btn-float btn-primary file-field" data-img-target="#{{field.id_for_label}}-img">
            <span class="material-icons">add_a_photo</span>
            <input type="file" name="{{field.name}}" accept="image/*" class="form-control" placeholder="Logo en alta resolución" id="{{field.id_for_label}}">
        </div>


        <div class="custom-control custom-switch">
            <input type="checkbox" name="{{field.name}}-clear" id="{{field.name}}-clear_id" class="custom-control-input">
          <span class="custom-control-track"></span>
          <label class="custom-control-label" for="{{field.name}}-clear_id">
                Limpiar
        </label>
        </div>
    </div>

    {% if field.errors %}
    <div class="d-block invalid-feedback form-errors">
        {% for error in field.errors %} {{error}}<br> {%endfor%}
    </div>
    {% endif %}

    {% if field.help_text%}
      <small class="text-muted mt-2 d-block">{{ field.help_text|safe  }}</small>
    {% endif %}

</div>