{% extends 'base.html' %}

{% block title %}Balance social{% endblock %}


{% block content %}

    <div class="jumbotron py-4 px-2">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <h3 class="mb-0 d-inline-block">Balance social</h3>
                </div>
                <div class="col-md-7">

                <ul class="pagination py-0 mb-0">
                    {% for year in years %}
                      <li class="page-item {% if year == current_year %}active{% endif %}">
                      <a class="page-link" href="{% url 'balance:balance_year' year %}" aria-label="{{year}}">
                        {{year}}
                      </a>
                     </li>
                    {% endfor %}
                </ul>

                </div>
                <div class="col-md-2 text-right">
                    <a class="btn btn-primary" href="{% url 'balance:bulk_import' %}"><i class="material-icons mr-2">upgrade</i> Importar</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid mt-3">
        {% include 'common/list/filter_form.html' %}
        {% include 'common/ajax_wrapper.html' with query_template='balance/year/query.html' %}
    </div>

{% endblock %}