DEBUG=True
DJANGO_PORT=8000
BASESITE_URL=
NGINX_PROXY_HTTP_PORT=8000
NGINX_PROXY_HTTPS_PORT=449

LOGLEVEL=DEBUG
LOGGING_DIR=./logs/
LOGGING_HANDLERS=console,single_thread_file_handler
SECRET_KEY=

ALLOWED_HOSTS=localhost,127.0.0.1,10.0.2.2
ADMINS=[]
COMPOSE_PROJECT_NAME=gestionmes

DB_ENGINE=django.db.backends.postgresql
DB_NAME=gestionmes
DB_PWRD=
DB_HOST=
DB_PORT=5432

SECURE_HSTS_SECONDS=30
GUNICORN_RELOAD=True
GUNICORN_ACCESS_LOG="/var/log/gunicorn/access.log"
GUNICORN_ERROR_LOG="/var/log/gunicorn/error.log"
GUNICORN_PID_FILE="/var/run/gunicorn/mes.pid"

ASSETLINKS_FILE=
GOOGLE_APPLICATION_CREDENTIALS=<path/to/firebase.json>
GOOGLE_MAPS_APIKEY="your_apikey"

DEFAULT_EMAIL=
EMAIL_BACKEND="django.core.mail.backends.smtp.EmailBackend"
EMAIL_HOST_URL=
EMAIL_PORT=465
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=True
EMAIL_SEND_FROM=
ENABLE_EMAIL_SENDING=
CONTACT_RECIPIENT_LIST=[]

ENABLE_SENTRY=False
SENTRY_DSN=
SENTRY_ENV=
ENABLE_FIREBASE=False

SERMEPA_DEBUG=True
SERMEPA_URL_PRO=
SERMEPA_URL_TEST=
SERMEPA_MERCHANT_CODE=
SERMEPA_TERMINAL=
SERMEPA_SECRET_KEY=

GMAPS_APIKEY=
FCM_SERVER_KEY=

CITY_ID=mad
CURRENCY_SERVER_BASE_URL=
CURRENCY_SERVER_AUTH_HEADER="ApiKey admin:xxxxxxxxxxx"