Django==2.2.28
django-ckeditor==5.4.0
django-compressor==3.1
django-cookies-samesite==0.9.0
django-imagekit==4.1.0
django-filter==2.3.0
django-jet==1.0.8
django-js-asset==1.1.0
django-localflavor==2.1
django-polymorphic==3.0.0
django-qrcode==0.3
django-simple-menu==1.2.1
django-sass-processor==0.7.1
django-tastypie==0.14.2
fcm-django==0.2.13
idna==2.7
mysqlclient
olefile==0.45.1
pilkit==2.0
pyDes==2.0.1
python-dateutil==2.6.1
python-mimeparse==1.6.0
pytz==2018.3
rcssmin==1.1.0
requests==2.31.0
requests-toolbelt==0.8.0
rjsmin==1.2.0
selenium==3.141.0
sentry-sdk[django]==1.39.2
six==1.11.0
sepaxml==2.2.0
WeasyPrint==52.4
webdriver-manager==2.4.0
libsass==0.22.0
django-honeypot==1.0.3

