{% extends 'registration/password_base.html' %}

{% block passwordcontent %}
<p>
    Introduce la dirección de correo electrónico a la que está asociada tu usuario y te enviaremos un email con un enlace
    de un solo uso para poder restablecer tu contraseña.
</p>
    <form method="post">
      {% csrf_token %}
        <div class="form-group">
            <div class="floating-label">
                <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                <input class="form-control" id="{{ form.email.id_for_label }}" maxlength="90" name="{{ form.email.html_name }}" type="email" required />
              </div>

            {%if form.email.errors %}
            <div class="d-block invalid-feedback">
                {%for error in form.email.errors %} {{error}} {%endfor%}
            </div>
            {% endif %}

            {% if form.email.help_text %}
              <small class="text-muted mt-2 d-block">{{ form.email.help_text|safe }}</small>
            {% endif %}
        </div>


        <div class="text-center">
      <button type="submit" class="btn btn-primary btn-lg">Actualizar contraseña</button>
            </div>
    </form>

{% endblock %}