{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Restaurar contraseña{% endblock %}

{% block bodyattrs %} id="login-page" class="main-bg" {% endblock%}

{% block content %}

<header class="jumbo-header" style="background-image: url('{% static 'imgs/sei-bg.jpg' %}');">
    <div class="container text-center">
        <h1>Sei ViCCi</h1>
        <h3>Restaurar contraseña</h3>
    </div>

</header>

<div class="container justify-content-center">
    <div class="card px-5" style="max-width:500px;margin:auto;margin-top:-20px;">
        <div class="card-body">
            <h4 class="card-title">Nueva contraseña</h4>
            {% block passwordcontent%} {% endblock %}
        </div>
    </div>
</div>

{% endblock %}
