{% extends 'base.html' %}

{% block title %}Restaurar contraseña{% endblock %}
{% block bodyattrs %} id="login-page"{% endblock%}
{% block content %}

<div class="jumbo-header minimal" >
    <div class="jumbotron">
        <div class="container text-center">
            <h2>Modificar contraseña</h2>
        </div>
    </div>
</div>

<div class="container justify-content-center">
    <div class="card px-4" style="max-width:500px;margin:auto;margin-top:-20px;">
        <div class="card-body">
            <h4 class="card-title">Nueva contraseña</h4>
            {% block passwordcontent%} {% endblock %}
        </div>
    </div>
</div>

{% endblock %}