{% extends 'registration/password_base.html' %}

{% block passwordcontent %}
<h5 class="text-primary">Restablecimiento de contraseña enviado</h5>
<p>
    Le hemos enviado por email las instrucciones para restablecer la contraseña, si es que existe una cuenta con la dirección electrónica que indicó. Debería recibirlas en breve.</p>
<p>Si no recibe un correo, por favor asegúrese de que ha introducido la dirección de correo con la que se registró y verifique su carpeta de spam.
</p>


{% endblock %}