{% if not balance %}
    <img class="img-fluid" src="{{badge.exempt_img.url}}">
{% else %}
    {% if balance.is_exempt %}
        <img class="img-fluid" src="{{badge.exempt_img.url}}">
     {% else %}
        {% if balance.done %}
           {% if balance.badge_image %} <img class="img-fluid" src="{{ balance.badge_image.url }}"> {% else %} No generado {% endif %}
        {% else %}
           <img class="img-fluid" src="{{badge.undone_img.url}}">
        {% endif %}
        <br>
        <a href="#" class="btn btn-secondary mt-3"><i class="material-icons mr-2">refresh</i> Generar sello de nuevo</a>
     {% endif %}
{% endif %}
