{% if not balance %}
    <img class="img-fluid" src="{{badge.exempt_img.url}}">
{% else %}
    {% if balance.is_exempt %}
        <img class="img-fluid" src="{{badge.exempt_img.url}}">
     {% else %}
        {% if balance.done %}
           {% if balance.badge_image %} <img class="img-fluid" src="{{ balance.badge_image.url }}"> {% else %} No generado {% endif %}
        {% else %}
           <img class="img-fluid" src="{{badge.undone_img.url}}">
        {% endif %}
        <br>
        {% if perms.social_balance.mespermission_can_view_social_balances and not hide_controls %}
        <form class="mt-3 gen-badge-btn" method="post" action="{% url 'balance:generate_badge' entity_pk=balance.entity.pk year=balance.year %}">
            {% csrf_token %}
            <input type="hidden" name="redirect_to" value="{{redirect_to|default:request.path }}">
            <input type="hidden" name="account" value="{{account.pk}}">
             <button type="submit" class="btn btn-secondary mt-3" data-toggle="collapse" data-target=".gen-badge-btn"><i class="material-icons mr-2">refresh</i> Generar sello de nuevo</button>
        </form>
        {% endif %}
     {% endif %}
{% endif %}
