{% extends 'base.html' %}
{% load settings_value %}
{% block title %}Acogida{% endblock %}


{% block content %}

    <div class="jumbotron py-4 px-2">
        <div class="container">
            <div class="row">
            <div class="col-md-8">
                <h4 class="mb-0"><a href="{% url 'balance:process_list' %}">Balance social</a>
                    <i class="material-icons md-18 ">arrow_forward_ios</i> {{object.year}}
                    <i class="material-icons md-18 ">arrow_forward_ios</i> {{object.account.display_name}}</h4>
            </div>

            <div class="col-md-3 text-sm-right">
                {% if perms.accounts.mespermission_can_update_signups and not object.workflow.completed and not object.cancelled %}
                <a href="#" data-toggle="modal" data-target="#cancel-process" class="btn btn-primary"><i class="material-icons mr-2">block</i> Cancelar proceso</a>
                {% endif %}
            </div>
        </div>
        </div>
    </div>

    <div class="container">
        <div class="row mt-4">
            <div class="col-md-6">

            <span class="badge badge-primary mb-2">Socia</span>
            <div class="card mb-3">
                <div class="card-body">
            {% include 'account/simple_profile.html' with account=object.account %}
             <div class="text-right">
                 <a class="btn btn-outline-secondary" href="{% settings_value 'BASESITE_URL' %}{% url object.account.detail_url object.account.pk %}?tab=balances">Ver balances anteriores</a>
                 <a class="btn btn-outline-primary" href="{% settings_value 'BASESITE_URL' %}{% url object.account.detail_url object.account.pk %}">Ver perfil</a>
             </div>
                </div>
            </div>


<div class="mt-2">

<span class="badge badge-primary mt-2">Datos del proceso</span><br>
    {% if object.sponsor %}
        <div class="d-flex flex-row align-items-center py-2">
            <p class="h5 mb-0 flex-fill">
                <strong>Madrina:</strong> {{object.sponsor}}<br>
                <strong>Tipo:</strong> {{object.get_balance_type_display}}
            </p>

            <button type="button" class="btn btn-secondary ml-4" id="edit-sponsor">Editar</button>
        </div>
    {% endif %}

    <form method="post" class="{% if object.sponsor %}hidden{% endif %}" id="sponsor-form">
        {% csrf_token %}

        <div class="d-flex flex-row align-items-center ">
            <div class="flex-fill mt-2">
                {% include "common/forms/field.html" with field=form.balance_type not_floating=True %}
                {% include "common/forms/field.html" with field=form.sponsor not_floating=True %}
            </div>
            <button type="submit" class="btn btn-secondary ml-4">Guardar</button>
        </div>

    </form>
</div>
<span class="badge badge-primary mt-2">Estado actual</span>
<div class="process-stepper">
{% if object.cancelled %}
    {% include 'bpm/workflow_step_cancelled.html' with big=True %}
{% else %}
    {% if object.workflow.completed %}
            {% include 'bpm/workflow_step_completed.html' with big=True %}
    {% else %}
            {% include 'bpm/workflow_step.html' with step=object.workflow.current_state big=True %}
    {% endif %}
{% endif %}
</div>


{% if not object.workflow.completed and not object.cancelled%}
    <form class="mb-4" method="post" action="{% url 'bpm:add_workflow_event' %}">
        {% if not first_step %}
        {% if perms.social_balance.mespermission_can_manage_balance_process %}
        <input type="submit" name="complete_step" class="btn btn-lg btn-primary mr-3" value="Completar paso" />
        {% endif %}
        {% endif %}

        {% if perms.social_balance.mespermission_can_add_balance_comments %}
            {% include 'bpm/comment_form.html' %}
        {% endif %}
        {% csrf_token %}

    </form>

     <form method="post" action="{% url 'balance:cancel_process' %}">
         {% csrf_token %}
         <input type="hidden" name="redirect_to" value="{{redirect_to|default:request.path }}">
        <input type="hidden" name="process" value="{{object.pk}}">

        <div class="modal fade" id="cancel-process" tabindex="-1" role="dialog" aria-labelledby="cancel-process-label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="cancel-process-label">Cancelar proceso</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body text-center">
              <div class="mb-4 display-2 text-muted"> <i class="material-icons">error_outline</i></div>
              <p class="lead">¿Estás segura de que deseas cancelar el proceso?</p>
               Esta acción cerrará el proceso de balance en negativo (lo guardará como "No hecho").
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Confirmar</button>
          </div>
        </div>
      </div>
    </div>

     </form>

{% endif %}
    </div>

    <div class="col-md-6">
        <h5>Historial</h5>
        {% include 'bpm/history.html' with workflow=object.workflow %}
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
<script type="text/javascript">
    new ClipboardJS('.copy-clipboard');
    $(function(){
        $('#edit-sponsor').on('click', function(){
            $(this).parent().addClass('hidden');
            $('#sponsor-form').removeClass('hidden');
        });
    });
</script>

{% endblock %}