{% extends 'base.html' %}

{% block title %}Procesos de balance{% endblock %}


{% block content %}

    <div class="jumbotron py-4 px-2">
        <div class="container-fluid">
        <div class="row">
            <div class="col-sm-7 col-md-8">
                <h3 class="mb-0">Procesos de balance</h3>
            </div>
             <div class="col-md-4 text-right">
                <a class="btn btn-primary" href="{% url 'balance:process_generate' %}"><i class="material-icons mr-2">add</i> Nuevo proceso anual</a>
            </div>
        </div>
        </div>
    </div>

    <div class="container-fluid">
        {% include 'common/list/filter_form.html' %}
        {% include 'common/ajax_wrapper.html' with query_template='balance/process/query.html' %}
    </div>

{% endblock %}