{% extends 'base.html' %}

{% block title %}Proovedoras{% endblock %}


{% block content %}

    <div class="jumbotron py-4 px-2">
        <div class="container">
            <div class="row">
            <div class="col-sm-7 col-md-8">
                <h3 class="mb-0">Entidades</h3>
            </div>
            <div class="col-sm-5 col-md-4 text-sm-right">
                <a href="{% url 'accounts:add_collaborator' %}" class="btn btn-primary"><i class="material-icons mr-2">add</i> Nueva entidad</a>
            </div>
        </div>
        </div>
    </div>

    <div class="container">
        {% include 'common/list/filter_form.html' %}
        {% include 'common/ajax_wrapper.html' with query_template='collaborator/query.html' %}
    </div>

{% endblock %}