// Custom.scss
// Option A: Include all of Bootstrap

$font-family-brand: 'Lato', sans-serif;
$font-family-emphasis: 'Montserrat', sans-serif;

$mes-primary: #653776;
$mes-primary-light: #8d6b99;
$mes-primary-lighter: #b39ebe;
$mes-secondary: #99bb14;
$mes-secondary-light: #C6E504;

$body-bg: #fcfcfc;
$jumbotron-bg: $mes-secondary-light;
$pagination-bg: transparent;

$primary: (
  color: $mes-primary,
  dark:  darken($mes-primary, 10%),
  light: lighten($mes-primary, 10%)
);

$secondary: (
  color: $mes-secondary,
  dark:  darken($mes-primary, 10%),
  light: lighten($mes-primary, 10%)
);

@import "./material/material";

// Import extensions
@import './components/navdrawer';
@import './components/pagination';
@import './components/process_stepper';
@import './components/toast';
@import './components/profile';
@import './components/map';
@import './components/inputs';
@import './components/select';

.loading-spinner{
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-75px;
    margin-left:-75px;
    display:none;
}
.loading-container{
    opacity:0.6;
    position: relative;
}
.loading-container .loading-spinner{
    display:block;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }
.mes-loader{
    display:block;
    width:150px;
    height:150px;
    background-image:url('mes-loader.png');
    background-repeat:no-repeat;
    background-position:center;
     -webkit-animation:spin 1.2s linear infinite;
    -moz-animation:spin 1.2s linear infinite;
    animation:spin 1.2s linear infinite;
    margin:auto;
    opacity:0.7;
}

.jumbotron .breadcrumbs > a{
    color: $black-secondary;
}
.hidden{ display:none; }
.filter-panel{
    margin-top: $spacer;

    .input-group, .custom-select{
        padding-left: $spacer;
        box-shadow: map-get($shadows, 1);
        @include border-radius($border-radius);
        align-self: stretch;
        border-color: rgba(0, 0, 0, 0.02);
        background-color:#fff;

        .input-group-append, .input-group-prepend{
            align-self: stretch;
            .btn { align-self: stretch; }
        }
        input{
            margin-bottom: $spacer-sm;
        }
    }
    .custom-select{
        border-color: transparent;
    }
    .search-field{
        font-size:0.9em;
        background-color:#f1f1f1;
    }
    .input-group{
        width:auto;
    }

}

select.form-control, .custom-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.material-icons.md-18 { font-size: 18px; margin:auto 5px; vertical-align:middle; }
.material-icons.md-24 { font-size: 24px;  margin:auto 5px; vertical-align:middle; }
.material-icons.md-36 { font-size: 36px;  margin:auto 5px; vertical-align:middle; }
.material-icons.md-48 { font-size: 48px;  margin:auto 5px; vertical-align:middle; }


tr.link-row:hover{ cursor: pointer; }


.select2-container--default .select2-selection--multiple, .select2-container--default.select2-container--focus .select2-selection--multiple{
    background-color:#transparent;
    border:none;
}
.select2-container.select2-container--default.select2-container--open{
    background:none;
    border-width:0;
    &:hover, &:focus{ border-width:0; box-shadow:none;}
}

.color-container{ position:relative; }
.color-container > * {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
-webkit-tap-highlight-color: transparent;
}
.color-container > .sp-replacer{
    position:absolute;
    right:0;
    top:0;
}

.dropdown-chip .btn{
    min-width:2rem; padding:0; color: $material-color-grey-500;
    &:active, &:focus, &.active, &:hover{ background: transparent; }
}

.custom-selector-panel{
    height:50vh;
    overflow-y:scroll;
}

/* For compatibility with older Bootstrap */
.fade.in { opacity: 1; }

.formset-item{
    position:relative;

    .delete-row{
        position:absolute;
        top: 1.5rem;
        right: 1.5rem;

        i.material-icons{ font-size: 2rem; }
    }
}

.qr-container img{
    max-width:100%;
    height:auto;
}