// Custom.scss
// Option A: Include all of Bootstrap

// Oppia colors
$oppia-lighter: #c1e552;
$oppia-light: #9aca3c;
$oppia-mid: #689e3a;
$oppia-dark: #628817;

$font-family-brand: 'Lato', sans-serif;
$font-family-emphasis: 'Montserrat', sans-serif;

$mes-primary: #653776;
$mes-primary-light: #8d6b99;
$mes-primary-lighter: #b39ebe;
$mes-secondary: #99bb14;
$mes-secondary-light: #C6E504;

$body-bg: #fcfcfc;
$jumbotron-bg: $mes-secondary-light;

$primary: (
  color: $mes-primary,
  dark:  darken($mes-primary, 10%),
  light: lighten($mes-primary, 10%)
);

$secondary: (
  color: $mes-secondary,
  dark:  darken($mes-primary, 10%),
  light: lighten($mes-primary, 10%)
);

@import "./material/material";

body {
  min-height: 100vh;
}
.flex-grow {
   flex: 1;
}

// Import Bootstrap extensions
// @import './components/buttons';