{% extends 'base.html' %}

{% block title %}Movimientos de tarjeta{% endblock %}


{% block content %}

    <div class="jumbotron py-4 px-2">
        <div class="container-fluid">
            <div class="row">
            <div class="col-sm-7 col-md-8">
                <h3 class="mb-0">Movimientos de tarjeta</h3>
            </div>

        </div>
        </div>
    </div>

    <div class="container-fluid pt-2">
        {% include 'common/list/filter_form.html' %}
        {% include 'common/ajax_wrapper.html' with query_template='card/query.html' %}
    </div>

{% endblock %}