<nav class="navbar navbar-expand navbar-light navbar-drawer" id="top-bar">
     <div class="container">
    <button class="navbar-toggler always-show" type="button" data-toggle="navdrawer" data-target="#doc-navdrawer" aria-controls="doc-navdrawer" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Gestión MES</a>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="navbar-nav ml-auto mt-0">
            {% include 'navbar/navbar_login.html' %}
        </ul>
      </div>
     </div>
</nav>

<div class="navdrawer navdrawer-permanent-lg doc-navdrawer" id="doc-navdrawer" tabindex="-1" aria-hidden="true">
  <div class="navdrawer-content">
    <div class="d-flex flex-column doc-navdrawer-body">
      <div class="navdrawer-header">
        <a class="navbar-brand px-0" href="#">Administración</a>
      </div>
        <ul class="navdrawer-nav">
            <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="material-icons mr-3">face</i>
              Usuarios
            </a>
          </li>

            <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'category_list' %} active {% endif %}" href="{% url 'category_list' %}">
              <i class="material-icons mr-3">label</i>
              Categorías
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'entity_list' %} active {% endif %}" href="{% url 'entity_list' %}">
              <i class="material-icons mr-3">store</i>
              Entidades
            </a>
          </li>

           <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'profile_list' %} active {% endif %}" href="{% url 'profile_list' %}">
              <i class="material-icons mr-3">directions_walk</i>
              Consumidoras
            </a>
          </li>

            <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'list_offers' %} active {% endif %}" href="{% url 'list_offers' %}">
              <i class="material-icons mr-3">shopping_basket</i>
              Ofertas
            </a>
          </li>


        </ul>

        <div class="navdrawer-divider"></div>
        <p class="navdrawer-subheader">Moneda social</p>
        <ul class="navdrawer-nav">

          <li class="nav-item">
            <a class="nav-link{% if request.resolver_match.url_name == 'transaction_list' %} active {% endif %}" href="{% url 'transaction_list' %}">
              <i class="material-icons mr-3">swap_horiz</i>
              Transferencias
            </a>
          </li>

            <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.url_name == 'admin_payments' %} active {% endif %}" href="{% url 'admin_payments' %}">
                  <i class="material-icons mr-3">receipt</i>
                  Pagos pendientes
                </a>
              </li>

            <li class="nav-item">
                <a class="nav-link disabled" href="#">
                  <i class="material-icons mr-3">local_atm</i>
                  Obtención de etics
                </a>
              </li>

            <li class="nav-item">
            <a class="nav-link disabled" href="#">
              <i class="material-icons mr-3">timeline</i>
              Informes
            </a>
          </li>
        </ul>

      <div class="navdrawer-divider"></div>
      <ul class="navdrawer-nav">
        <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'news_list' %} active {% endif %}" href="{% url 'news_list' %}">
              <i class="material-icons mr-3">speaker_notes</i>
              Noticias
            </a>
          </li>
      </ul>
    </div>
  </div>
</div>