{% load staticfiles %}

<nav class="navbar navbar-expand navbar-secondary bg-secondary sticky-top navbar-drawer" id="top-bar">
     <div class="container">
      <a class="navbar-brand" href="#"><img src="{% static '/imgs/brand.png' %}" height="30" class="d-inline-block align-top" alt=""></a>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="navbar-nav ml-auto mt-0">
            {% include 'navbar/navbar_login.html' %}
        </ul>
      </div>
     </div>
</nav>
