<nav class="navbar navbar-expand bg-secondary navbar-drawer sticky-top" id="top-bar">
     <div class="container">
    <button class="navbar-toggler always-show" type="button" data-toggle="navdrawer" data-target="#doc-navdrawer" aria-controls="doc-navdrawer" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="navbar-nav ml-auto mt-0">
            {% include 'navbar/navbar_login.html' %}
        </ul>
      </div>
     </div>
</nav>

<div class="navdrawer navdrawer-permanent-lg doc-navdrawer" id="doc-navdrawer" tabindex="-1" aria-hidden="true">
  <div class="navdrawer-content">
    <div class="d-flex flex-column doc-navdrawer-body">
      <div class="navdrawer-header">
        <a class="navbar-brand px-0" href="#">Boniatos</a>
      </div>
        <ul class="navdrawer-nav">
            <li class="nav-item">
            <a class="nav-link" href="{% url 'management:users_list' %}">
              <i class="material-icons mr-3">face</i>
              Usuarios
            </a>
          </li>

            {% if perms.bpm.mespermission_can_manage_processes %}
            <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.namespace == 'bpm' %} active {% endif %}" href="{% url 'bpm:list' %}">
                  <i class="material-icons mr-3">dns</i>
                  Procesos
                </a>
            </li>
            {% endif %}
        </ul>

      <div class="navdrawer-divider"></div>

    </div>
  </div>
</div>