{% load staticfiles %}

<nav class="navbar navbar-expand bg-secondary navbar-drawer sticky-top" id="top-bar">
     <div class="container">

        <button class="navbar-toggler always-show" type="button" data-toggle="navdrawer" data-target="#doc-navdrawer" aria-controls="doc-navdrawer" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
         <a class="navbar-brand" href="#"><img src="{% static '/imgs/brand.png' %}" height="30" class="d-inline-block align-top" alt=""></a>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="navbar-nav ml-auto mt-0">
            {% include 'navbar/navbar_login.html' %}
        </ul>
      </div>
     </div>
</nav>

<div class="navdrawer navdrawer-permanent-lg doc-navdrawer" id="doc-navdrawer" tabindex="-1" aria-hidden="true">
  <div class="navdrawer-content">
    <div class="d-flex flex-column doc-navdrawer-body">
      <div class="navdrawer-header">
        <a class="navbar-brand px-0" href="#">GestiónMES</a>
      </div>

        {% if perms.core.mespermission_can_manage_users or perms.management.mespermission_can_manage_commissions or perms.bpm.mespermission_can_manage_processes or perms.accounts.mespermission_can_manage_categories or perms.accounts.mespermission_can_view_reports %}

        <p class="navdrawer-subheader">Administración</p>
        <ul class="navdrawer-nav">
             {% if perms.core.mespermission_can_manage_users %}
            <li class="nav-item">
            <a class="nav-link" href="{% url 'management:users_list' %}">
              <i class="material-icons mr-3">face</i>
              Usuarios
            </a>
          </li>
            {% endif %}

            {% if perms.management.mespermission_can_manage_commissions %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'management:commission_list' %}">
                  <i class="material-icons mr-3">group</i>
                  Comisiones
                </a>
            </li>
            {% endif %}

            {% if perms.simple_bpm.mespermission_can_manage_processes %}
            <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.namespace == 'bpm' %} active {% endif %}" href="{% url 'bpm:list' %}">
                  <i class="material-icons mr-3">dns</i>
                  Procesos
                </a>
            </li>
            {% endif %}

            {% if perms.accounts.mespermission_can_manage_categories %}
            <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:category_list' %}">
              <i class="material-icons mr-3">label</i>
              Categorías
            </a>
          </li>
            {% endif %}

            {% if perms.accounts.mespermission_can_view_reports %}
            <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:accounts_report' %}">
              <i class="material-icons mr-3">assessment</i>
              Informes
            </a>
          </li>
            {% endif %}

        </ul>

      <div class="navdrawer-divider"></div>
{% endif %}

        <p class="navdrawer-subheader">Socias</p>

     <ul class="navdrawer-nav">

         {% if perms.accounts.mespermission_can_view_signups %}
         <li class="nav-item">
        <a class="nav-link pl-4" href="{% url 'accounts:signup_list' %}?status=">
          <i class="material-icons mr-3">call_received</i>
          Acogidas
        </a>
             {% endif %}
      </li>

         <li class="nav-item">
        <a class="nav-link pl-4" href="{% url 'accounts:providers_list' %}?status=activa">
          <i class="material-icons mr-3">store</i>
          Proveedoras
        </a>
      </li>

         <li class="nav-item">
        <a class="nav-link pl-4" href="{% url 'accounts:consumers_list' %}">
          <i class="material-icons mr-3">directions_walk</i>
          Consumidoras
        </a>

         {% if perms.currency.mespermission_can_view_guests %}
        <li class="nav-item">
        <a class="nav-link pl-4" href="{% url 'currency:guest_user_list' %}">
          <i class="material-icons mr-3">card_membership</i>
          Invitadas
        </a>
         {% endif %}

         <li class="nav-item">
        <a class="nav-link pl-4" href="{% url 'accounts:collaborators_list' %}">
          <i class="material-icons mr-3">grade</i>
          Entidades esp.
        </a>
      </li>



         <li class="nav-item">
        <a class="nav-link pl-4" href="{% url 'intercoop:accounts_list' %}">
          <i class="material-icons mr-3">extension</i>
          Intercooperación
        </a>
      </li>

         {% if perms.accounts.mespermission_can_view_deletions %}

         <li class="nav-item">
        <a class="nav-link pl-4" href="{% url 'accounts:deletion_list' %}">
          <i class="material-icons mr-3">trending_down</i>
          Bajas
        </a>

      </li>
         {% endif %}

     </ul>

        {% if perms.payments.mespermission_can_view_payments or perms.payments.mespermission_can_view_card_payments %}
        <div class="navdrawer-divider"></div>

        <p class="navdrawer-subheader">Contabilidad</p>

        <ul class="navdrawer-nav">

            {% if perms.payments.mespermission_can_view_payments %}
         <li class="nav-item">
        <a class="nav-link pl-4" href="{% url 'payments:payments_list' %}">
          <i class="material-icons mr-3">receipt</i>
          Pagos de cuota
        </a>
      </li>
            {% endif %}

            {% if perms.payments.mespermission_can_manage_sepa %}
         <li class="nav-item">
        <a class="nav-link pl-4" href="{% url 'payments:sepa_list' %}">
          <i class="material-icons mr-3">library_books</i>
          Remesas (SEPA)
        </a>
      </li>
            {% endif %}

            {% if perms.payments.mespermission_can_view_card_payments %}
            <li class="nav-item">
        <a class="nav-link pl-4" href="{% url 'payments:card_payments_list' %}">
          <i class="material-icons mr-3">credit_card</i>
          Movimientos de tarjeta
        </a>
      </li>
        {% endif %}

    </ul>
    {% endif %}

    {% if perms.social_balance.mespermission_can_view_social_badges or perms.social_balance.mespermission_can_view_social_balances %}
     <div class="navdrawer-divider"></div>

        <p class="navdrawer-subheader">Balance social</p>

        <ul class="navdrawer-nav">

        {% if perms.social_balance.mespermission_can_view_social_badges %}
         <li class="nav-item">
            <a class="nav-link pl-4" href="{% url 'balance:badge_list' %}">
              <i class="material-icons mr-3">palette</i>
              Sellos (plantilla)
            </a>
         </li>
        {% endif %}

         {% if perms.social_balance.mespermission_can_view_social_balances %}
        <li class="nav-item">
            <a class="nav-link pl-4" href="{% url 'balance:balance' %}">
              <i class="material-icons mr-3">art_track</i>
              Datos anuales
            </a>
         </li>
        {% endif %}
        </ul>
    {% endif %}

    </div>

  </div>
</div>