{% load staticfiles %}
<nav class="navbar fixed-top navbar-expand-lg" id="mainmenu">
        <div class="container">
      <a class="navbar-brand" href="#">
        <img src="{% static 'imgs/vicci_logo_light.png' %}" alt="">
      </a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="icon-bar"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <a class="collapse-brand" href="#"><img src="{% static 'imgs/vicci_logo_light.png' %}" alt=""></a>

        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard' %}">Sei ViCCi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'momenti' %}">Momenti ViCCi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'cities_list' %}">Il Mondo By ViCCi</a>
          </li>

          <li class="nav-item">
            <a class="nav-link d-none d-lg-block" href="{% url 'davicci' %}">DaViCCi</a>
            <a href="{% url 'davicci' %}" data-toggle="tooltip" data-placement="bottom" title="DaViCCi" class="btn btn-primary btn-lg btn-action d-lg-none"><img src="{% static 'imgs/davicci-icon.png' %}"> </a>
          </li>

        </ul>
      </div>
      </div>
    </nav>