{% load staticfiles %}
<nav class="navbar fixed-top navbar-expand-lg navbar-expand navbar-light navbar-drawer" id="mainmenu">
     <div class="container">
    <button class="navbar-toggler always-show" type="button" data-toggle="navdrawer" data-target="#doc-navdrawer" aria-controls="doc-navdrawer" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="{% static 'imgs/vicci_logo_light.png' %}" alt=""></a>

     </div>
</nav>

<div class="navdrawer navdrawer-permanent-lg doc-navdrawer" id="doc-navdrawer" tabindex="-1" aria-hidden="true">
  <div class="navdrawer-content">
    <div class="d-flex flex-column doc-navdrawer-body">
      <div class="navdrawer-header">
        <a class="navbar-brand px-0" href="#">Administración</a>
      </div>
        <ul class="navdrawer-nav">
            <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'edit_profile' %} active {% endif %}" href="{% url 'edit_profile' %}">
              <i class="material-icons mr-3">account_circle</i>
              Mi perfil de usuario
            </a>
          </li>

        <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'hotel_owner_edit' or can_edit_hotel %} active {% endif %}" href="{% url 'hotel_owner_edit' %}">
              <i class="material-icons mr-3">local_hotel</i>
              Mi hotel
            </a>
          </li>

             <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'hotel_owner_rentals' or can_edit_rentals %} active {% endif %}" href="{% url 'hotel_owner_rentals' %}">
              <i class="material-icons mr-3">directions_bike</i>
              Reservas
            </a>
          </li>

            <li class="nav-item">
            <a class="nav-link " href="#">
              <i class="material-icons mr-3">restore</i>
              Histórico
            </a>
          </li>
        </ul>

        <div class="navdrawer-divider"></div>

        <ul class="navdrawer-nav">
            <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'logout' %} active {% endif %}" href="{% url 'logout' %}">
              <i class="material-icons mr-3">exit_to_app</i>
              Desconectar
            </a>
          </li>



        </ul>



    </div>
  </div>
</div>