{% load staticfiles %}

<nav class="navbar navbar-expand bg-secondary {% if debug %} bg-warning {% endif %}navbar-drawer sticky-top" id="top-bar">
    <div class="container">

        <button class="navbar-toggler always-show" type="button" data-toggle="navdrawer" data-target="#doc-navdrawer"
                aria-controls="doc-navdrawer" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{% url 'dashboard:index' %}">
            <img src="{% static '/imgs/brand.png' %}" height="30" class="d-inline-block align-top" alt="">
        </a>

        {% if debug %}<h4 class="m-0">DEBUG SERVER</h4>{% endif %}

        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="navbar-nav ml-auto mt-0">
                {% include 'navbar/login.html' %}
            </ul>
        </div>
    </div>
</nav>

<div class="navdrawer navdrawer-permanent-lg doc-navdrawer" id="doc-navdrawer" tabindex="-1" aria-hidden="true">
  <div class="navdrawer-content">
    <div class="d-flex flex-column doc-navdrawer-body">
      <div class="navdrawer-header mb-0">
        <a class="navbar-brand px-0" href="#">GestiónMES</a>
      </div>

        <ul class="navdrawer-nav mb-0">
        {% for item in menu %}
            {% if item.is_title %}
                </ul>
                {% if not forloop.first %}<div class="navdrawer-divider"></div>{% endif %}
                <p class="navdrawer-subheader pt-4 pb-0">{{item.title}}</p>
                <ul class="navdrawer-nav mb-0">
            {% else %}
                {% include 'navbar/menu_item.html' %}
            {% endif %}

        {% endfor %}
        </ul>

    </div>

  </div>
</div>