{% extends 'base.html' %}
{% load staticfiles %}
{% load chunks %}

{% block title %}Nuevo modo de colaboración{% endblock %}


{% block content %}

    <div class="jumbotron py-4 px-2">
        <div class="container">
            <div class="row">
            <div class="col-sm-12">
                <h4 class="mb-0"><a href="{% url 'accounts:entity_list' %}">Entidades</a>
                    <i class="material-icons md-18 ">arrow_forward_ios</i><a href="{% url 'accounts:collab_list' %}">Modos de colaboración</a><i class="material-icons md-18 ">arrow_forward_ios</i> Nueva colaboración</h4>
            </div>
        </div>
        </div>
    </div>

    <div class="container">
        <form method="post" class="mt-3 p-4">
            {% csrf_token %}

        {% include "collab/form.html" %}

        <div class="text-center mt-3">
            <button type="submit" class="btn btn-primary btn-lg">Crear modo de colaboración</button>
        </div>

        </form>
    </div>

{% endblock %}
