{% extends 'base.html' %}
{% load settings_value %}
{% block title %}Nueva remesa SEPA{% endblock %}

{% block content %}

    <div class="jumbotron py-4 px-2">
        <div class="container">
            <div class="row">
            <div class="col-sm-12">
                    <h4 class="mb-0">
                        <a href="{% url 'payments:payments_list' %}">Pagos</a>
                        <i class="material-icons md-18 ">arrow_forward_ios</i>
                        <a href="{% url 'payments:sepa_list' %}">Remesas SEPA</a>
                        <i class="material-icons md-18 ">arrow_forward_ios</i>
                        Nueva remesa
                    </h4>
                </div>
        </div>
        </div>
    </div>

    <div class="container mt-2  p-3">

    <div class="row custom-selector" data-action-class="card-actions pt-2 px-0 text-right">
    <div class="col-md-4 mb-3">
        <form method="post" class="mt-3">
            {% csrf_token %}

            <div class="hidden">
                {{form.payments}}
                {{form.payments_order}}
                {% include 'common/forms/hidden_value.html' with field=form.generated_by hidden_value=request.user.pk %}
            </div>
        <div class="current-members" data-selector="current">
                <h5 class="card-title mt-3"> Seleccionados <span id="selected-count" class="badge badge-sm badge-light">0</span></h5>
                <div class="custom-selector-panel">
                    <div class="table-responsive mb-4">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                            <th scope="col" class="px-0"></th>
                          <th scope="col">Nombre</th>
                            <th scope="col">Cantidad</th>
                        </tr>
                      </thead>
                      <tbody class="selected">
                      </tbody>
                    </table>
                </div>
        </div>

        </div>

        <div class="text-center mt-2">
            {% include 'common/forms/field.html' with field=form.title %}

            <div class="row">
                <div class="col-md-5 mt-2">{% include "common/forms/field.html" with field=form.invoice_prefix not_floating=True %}</div>
                <div class="col-md-7">{% include "common/forms/field.html" with field=form.invoice_start not_floating=True %}</div>
            </div>



            <button type="submit" class="btn btn-primary btn-lg">Generar remesa</button>
        </div>
            </form>

    </div>

    <div class="col-md-8 mb-3">
        <div class="future-members" data-selector="future">
                <div class="ajax-load" id="results" data-initial="{% url 'payments:payments_list' %}?simple=true&completed=false&psize=8" data-keepurl="true" data-prevent-link="true">
                    <div class="results">

                    </div>
                    <div class="loading-spinner"><div class="mes-loader"></div></div>
                    <span class="sr-only">Loading...</span>
                </div>
                 </div>
            </div>

    </div>

    <div class="action-buttons" style="display:none;">
        <button data-action="remove" class="btn btn-outline-primary btn-sm"><i class="material-icons">delete</i></button>
        <button data-action="add" class="btn btn-outline-primary btn-sm"><i class="material-icons">add</i></button>
    </div>


    </div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $(function(){
        var payments = $('#{{form.payments.id_for_label}}');
        var paymentsOrder = $('#{{form.payments_order.id_for_label}}');
        var selected = $('.selected');
        var selectedCount = $('#selected-count');
        $('.selected').on('click', 'tr', function(){
            $(this).remove();
            selectedCount.text(selected.children().length);
        });

        $('.future-members').on('click', 'tr', function(){
            var pay = $(this).clone();
            pay.find('.hide-select').hide();
            if (selected.find('[data-pk="' + pay.attr('data-pk') + '"]').length == 0){
                selected.append(pay);
                selectedCount.text(selected.children().length);
            }
        });

        $('form').on('submit', function(e){

            var selPayments = [];
            selected.find('tr').each(function(){
                selPayments.push($(this).attr('data-pk'));
            });
            paymentsOrder.val(selPayments.join('{% settings_value 'INLINE_INPUT_SEPARATOR'|escape|safe %}'));
            payments.val(selPayments);
        });
    });

</script>
{% endblock scripts %}