{% extends 'base.html' %}
{% load staticfiles %}
{% load humanize %}
{% block title %}Pagos{% endblock %}


{% block content %}

    <div class="jumbotron py-4 px-2">
        <div class="container-fluid">
            <div class="row">
            <div class="col-sm-12">
                <h4 class="mb-0">
                        <a href="{% url 'payments:payments_list' %}">Pagos</a>
                        <i class="material-icons md-18 ">arrow_forward_ios</i>
                        <a href="{% url 'payments:sepa_list' %}">Remesas SEPA</a>
                        <i class="material-icons md-18 ">arrow_forward_ios</i>
                        {% if object.title %} {{ object.title }}  {% else %} {{object.attempt|date:'d/m/Y'}} {% endif %}
                    </h4>
            </div>
        </div>
            <div class="row mt-3">
            <div class="col-sm-3 col-md-2 lead">
                <label class="text-primary">Núm de recibos incluídos</label><br>
                {{batch_success}}/{{object.payments.count}}
            </div>

              <div class="col-sm-3 col-md-2 lead">
                <label class="text-primary">Importe total</label><br>
                {{ object.amount|floatformat:2 }} €
            </div>

            <div class="col-sm-3 col-md-2 lead">
                <label class="text-primary">Generado</label><br>
                {{object.attempt|date:'d/m/Y'}}
            </div>

            <div class="col-sm-3 col-md-2 lead">
                <label class="text-primary">Por</label><br>
                {% include 'user/simple_profile.html' with user=object.generated_by %}
            </div>

            <div class="col-sm-3 col-md-4 lead">
                <a class="btn btn-primary" href="{% url 'payments:sepa_update' object.pk %}"> <i class="material-icons mr-2 ">edit</i> Editar remesa</a>
            </div>

        </div>

        </div>
    </div>



    <div class="container mt-2">

        <form method="post">
            {% csrf_token %}

            <div class="row mt-4">
                <div class="col-md-2">{% include "common/forms/field.html" with field=form.invoice_prefix  %}</div>
                <div class="col-md-3">{% include "common/forms/field.html" with field=form.invoice_start  %}</div>
                <div class="col-md-3"><button type="submit" class="btn btn-primary mt-2">Actualizar</button></div>

                <div class="col-md-4 mt-2">
                <a class="btn btn-primary" href="{% url 'payments:sepa_regenerate' object.pk %}"> <i class="material-icons mr-2 ">save_alt</i> Fichero SEPA</a>

                <a class="btn btn-secondary" href="?export=csv"> <i class="material-icons mr-2 ">save_alt</i> CSV</a>
            </div>

            </div>
        </form>


        <p class="lead">

        </p>

        {% if warning %}
            <div class="bg-warning" style="padding:20px;">Hay algún recibo con errores, revise la lista y una vez corregidos, pulse el botón REFRESCAR</div>
        {% endif %}

        {% include 'payments/sepa/batch_result.html' with valign=True sepa=object object_list=batch_results hide_controls=True object_url_name='payments:payment_detail' %}

    </div>


{% endblock %}
