{% extends 'common/list/base.html' %}

 {% block table_head %}
    <th scope="col">Fecha</th>
    <th scope="col">Núm. de recibos</th>
    <th scope="col">Total</th>
    <th scope="col" colspan="2">Nombre</th>
{% endblock %}


{% block item_row %}

<td>{{item.attempt|date:'d/m/Y'}}</td>
<td>{{item.payments_count}}</td>
<td class="amount">{{item.amount|floatformat:2}} €</td>
<td class="text-truncate" style="max-width:250px;">{{item.title|default:'-'}}</td>
<td class="py-2">
    <div class="dropdown dropdown-chip">
      <button class="btn btn-outline-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="material-icons">more_vert</i>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="{% url 'payments:sepa_update' item.pk %}"><span class="material-icons mr-2">edit</span> Editar remesa</a>
          {% if item.sepa_file %}
        <a class="dropdown-item" href="{{item.sepa_file.url}}" download> <span class="material-icons mr-2">description</span> Descargar fichero</a>
          {% endif %}
        <a class="dropdown-item" href="{% url 'payments:sepa_delete' item.pk %}"><span class="material-icons mr-2">delete</span> Eliminar remesa</a>
      </div>
    </div>

</td>
{% endblock %}
