{% extends 'common/list/base.html' %}

 {% block table_head %}
    <th scope="col">Fecha</th>
    <th scope="col">Núm. de recibos</th>
    <th scope="col">Total</th>
    <th scope="col">Nombre</th>
    <th scope="col">Fichero SEPA</th>
{% endblock %}


{% block item_row %}

<td>{{item.attempt|date:'d/m/Y'}}</td>
<td>{{item.payments_count}}</td>
<td class="amount">{{item.amount|floatformat:2}} €</td>
<td class="text-truncate" style="max-width:250px;">{{item.title|default:'-'}}</td>
<td class="py-2">
    {% if item.sepa_file %}
        <a class="text-primary" href="{{item.sepa_file.url}}" download> <i class="fas fa-2x fa-file-download"></i></a>
    {% endif %}

</td>
{% endblock %}
