{% load settings_value %}

<table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:separate;" align="center" border="0">
    <tbody>
        <tr>
            <td style="border:none;border-radius:24px;color:#fff;cursor:auto;padding:10px 25px;" align="center" valign="middle" bgcolor="#A7CE05"><a href="{{link_href}}" style="text-decoration:none;background:#A7CE05;color:#fff;font-family:Ubuntu, Helvetica, Arial, sans-serif, Helvetica, Arial, sans-serif;font-size:18px;font-weight:normal;line-height:120%;text-transform:none;margin:0px;" target="_blank">{{link_text}}</a></td>
        </tr>
    </tbody>
</table>