{% extends 'base.html' %}
{% load staticfiles %}
{% load chunks %}

{% block title %}Nuevo proceso{% endblock %}


{% block content %}

    <div class="jumbotron py-4 px-2">
        <div class="container">
            <div class="row">
            <div class="col-sm-12">
                <h3 class="mb-0"><a href="{% url 'bpm:list' %}">Procesos</a><i class="material-icons md-18 ">arrow_forward_ios</i> Nuevo proceso</h3>
            </div>
        </div>
        </div>
    </div>

    <div class="container">
        <form method="post" class="mt-3 p-4 auto-fill-order">
            {% csrf_token %}

            {{form.as_p}}
            {% with formsets.steps as steps_formset %}
                {{ steps_formset.management_form }}

            <div class="accordion auto-fill-order-group autoupdate-input" id="steps">
              {% for step_form in steps_formset %}
                <div class="step-formset formset-item">
                <div class="card">
                <div class="card-header" id="{{ step_form.prefix }}-heading">
                  <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#{{ step_form.prefix }}-body" aria-expanded="true" aria-controls="collapseOne">
                      <span data-autoupdate="title"> {{step_form.title.value|default_if_none:"Nuevo paso"}} </span>
                    </button>
                  </h5>
                </div>

                <div id="{{ step_form.prefix }}-body" class="collapse" aria-labelledby="{{ step_form.prefix }}-heading" data-parent="#steps">
                  <div class="card-body px-4">
                      {{step_form.order}}
                      {{step_form.checklist_tasks}}
                       <div class="row">
                            <div class="col-sm-7">
                              {% include "common/forms/field.html" with field=step_form.title %}
                            </div>

                            <div class="col-sm-3 ">
                                <div class="form-group">
                                    <label>{{ step_form.fa_icon.label }}</label>
                                    <div class="input-group">
                                        {{ step_form.fa_icon }}
                                        <span class="input-group-addon input-group-append"></span>
                                    </div>
                                </div>
                            </div>

                           <div class="col-sm-2">
                              {% include "common/forms/field.html" with field=step_form.color %}
                            </div>

                           <div class="col-sm-12">
                              {% include "common/forms/field.html" with field=step_form.description not_floating=True%}
                            </div>
                       </div>
                  </div>
                </div>
              </div>
                </div>

                {% endfor %}
            </div>
            {% endwith %}

                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-primary btn-lg">Crear proceso</button>
                 </div>
        </form>

    </div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/jquery.formset.js' %}"></script>
<script type="text/javascript">
    $('.step-formset').formset({
        addText: '<div class="btn btn-lg mt-3"><i class="material-icons">add</i> Añadir paso</div>',
        deleteText: '<i class="material-icons close">cancel</i>',
        added: function(row, elem){
            var formId = row.find('.card-header').attr('id');
            formId = formId.substr(0, formId.lastIndexOf('-heading'));
            row.find('[data-toggle="collapse"]').attr('data-target', '#'+formId+'-body');
            initElems(row);
        }
    });
    </script>
{% endblock %}