{% if cancelled %}
        <span class="badge badge-pill text-light px-3 py-1 bg-danger"><i class="fas fa-ban mr-2"></i> Cancelado</span>
{% else %}
    {% if workflow.completed %}
        <span
                style="background-color:#5fb743"
                class="badge badge-pill text-light px-3 py-1"><i class="fas fa-check mr-2"></i> Completado</span>
    {% else %}
        {% if workflow.current_state %}
            {% include 'bpm/step_pill.html' with step=workflow.current_state %}
        {% else %}
            No iniciado
        {% endif %}
    {% endif %}
{% endif %}