{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}{{object.title}}{% endblock %}

{% block content %}


 <div class="jumbotron py-4 px-2">
        <div class="container">
            <div class="row">
            <div class="col-sm-7 col-md-8">
                <h4 class="mb-0 breadcrumbs"><a href="{% url 'bpm:list' %}">Procesos</a><i class="material-icons md-18 ">arrow_forward_ios</i>{{object.title}}</h4>
            </div>

            <div class="col-sm-5 col-md-4 text-right">
                {% if perms.simple_bpm.mespermission_can_manage_processes %}
                <a href="#" class="btn btn-primary ml-2" data-toggle="modal" data-target="#delete-modal"><i class="material-icons mr-2">delete</i> Eliminar proceso</a>
                {% endif %}
            </div>

        </div>
        </div>
    </div>


<div class="container mt-3">

    Creado: {{object.created}}
    <br><br>
    <h4>Pasos</h4>

    <div class="stepper-vert process-stepper">
        {% for step in object.steps.all %}
  <div class="stepper active">
    <div class="stepper-icon" {%if step.color %} style="background-color:{{step.color}}" {%endif%}>
      <i class="{{step.fa_icon}}"></i>
    </div>
    <span class="stepper-text">
        <h5>{{step.title}}</h5>
        <span class="font-weight-light"> {{step.description}}</span>
        {% if step.checklist.count > 0 %}
            <p class="font-weight-light mt-2">
            <strong><i class="material-icons">playlist_add_check</i> Tareas</strong>
                </p>
            {% for task in step.checklist.all %}
            <p class="text-black-50 pl-3"> <i class="material-icons mr-2">check_box</i>{{task.description}}</p>
            {% endfor %}

        {% endif %}

    </span>
  </div>
        {% endfor %}
</div>


<form method="post" action="{% url 'bpm:delete' object.pk %}">
         {% csrf_token %}

        <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="cancel-process-label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="cancel-process-label">Eliminar proceso</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body text-center">
              <div class="mb-4 display-2 text-muted"> <i class="material-icons">error_outline</i></div>
              <p class="lead">¿Estás segura de que quieres eliminar este proceso?</p>
               Esta acción no se puede deshacer.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Confirmar</button>
          </div>
        </div>
      </div>
    </div>

 </form>


</div>

{% endblock %}