{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}{{object.title}}{% endblock %}

{% block content %}


 <div class="jumbotron py-4 px-2">
        <div class="container">
            <div class="row">
            <div class="col-sm-7 col-md-8">
                <h4 class="mb-0 breadcrumbs"><a href="{% url 'bpm:list' %}">Procesos</a><i class="material-icons md-18 ">arrow_forward_ios</i>{{object.title}}</h4>
            </div>

        </div>
        </div>
    </div>


<div class="container mt-3">

    Creado: {{object.created}}
    <br><br>
    <h4>Pasos</h4>

    <div class="stepper-vert process-stepper">
        {% for step in object.steps.all %}
  <div class="stepper active">
    <div class="stepper-icon" {%if step.color %} style="background-color:{{step.color}}" {%endif%}>
      <i class="{{step.fa_icon}}"></i>
    </div>
    <span class="stepper-text">
        <h5>{{step.title}}</h5>
        <span class="font-weight-light"> {{step.description}}</span>
        {% if step.checklist %}
            <p class="font-weight-light mt-2">
            <strong><i class="material-icons">playlist_add_check</i> Tareas</strong>
                </p>
            {% for task in step.checklist.all %}
            <p class="text-black-50 pl-3"> <i class="material-icons mr-2">check_box</i>{{task.description}}</p>
            {% endfor %}

        {% endif %}

    </span>
  </div>
        {% endfor %}
</div>





</div>

{% endblock %}