<div class="stepper-vert process-stepper">
{% for event in workflow.history_events.all %}

{% if event.special %}
    {% with "bpm/workflow_step_"|add:event.special_type|add:".html" as template %}
        {% include template %}
    {% endwith %}
{% else %}
  <div class="stepper active">
    {% if event.step %}
        <div class="stepper-icon"  style="background-color:{%if event.step.color %}{{event.step.color}}{%endif%}" >
        <i class="{{event.step.fa_icon}}"></i>
    {% else %}
        <div class="stepper-icon"  style="background-color:#fff" >
        <i class="material-icons text-dark">comment</i>
    {% endif %}
  </div>
    <span class="stepper-text">
        {% if event.step %}
        <h5>{{event.step.title}}</h5>
        <span class="font-weight-light"> {{event.step.description}}</span>
        {% else %}
        <span class="font-weight-light"> {{event.comment}}</span>

        {%endif%}
        <br>{{event.timestamp}}
        {% if event.completed_by %}
        <br>
        {% include 'user/simple_profile.html' with user=event.completed_by %}

        {% endif %}
    </span>
  </div>
{% endif %}
{% endfor %}

      <div class="stepper active">
        <div class="stepper-icon"  style="background-color:#ddd" >
        <i class="material-icons text-dark">star</i>
        </div>
        <span class="stepper-text">
            <span class="font-weight-light"> Inicio del proceso</span>
            <br>{{workflow.start_time}}
        </span>
    </div>

</div>

</div>