{% extends 'base.html' %}
{% load settings_value %}
{% load staticfiles %}

{% block title %}Detalles de pago{% endblock %}


{% block content %}


<div class="jumbotron py-4 px-2">
        <div class="container">
            <div class="row">
            <div class="col-md-8">
                <h4 class="mb-0"><a href="{% url 'payments:payments_list' %}">Pagos</a><i class="material-icons md-18 ">arrow_forward_ios</i> Ref. {{object.reference}}</h4>
            </div>
                {% if not object.completed and perms.payments.mespermission_can_edit_payments %}
                <div class="col-md-4 text-right">
                    <a class="btn btn-primary" href="#" data-toggle="modal" data-target="#delete-payment"><i class="material-icons mr-2 ">cancel</i>  Eliminar</a><br>
                </div>
                {% endif %}

        </div>
        </div>
    </div>


<div class="container pt-4">

    <div class="row">
         <div class="col-md-5 mb-3">
             <span class="badge badge-primary mb-2">Socia</span>
            <div class="card mb-3">
                <div class="card-body">
            {% include 'account/simple_profile.html' with account=object.account %}
             <div class="text-right">
                 <a class="btn btn-outline-secondary" href="{% settings_value 'BASESITE_URL' %}{% url object.account.detail_url object.account.pk %}?tab=payments">Ver pagos</a>
                 <a class="btn btn-outline-primary" href="{% settings_value 'BASESITE_URL' %}{% url object.account.detail_url object.account.pk %}">Ver perfil</a>
             </div>
                </div>
            </div>
        </div>

        <div class="col-md-7">
            <span class="badge badge-primary mb-2">Pago</span>
            {% include 'payments/detail_card.html' with payment=object %}
            {% with fee_charges=object.fee_charges.all %}
                {% for fee in fee_charges %}
                     <span class="badge badge-primary mb-2">Cuota anual</span><br>
                    Pago relativo a <a href="{% url 'payments:annual_feecharges' fee.annual_charge.year %}" >Cuotas {{ fee.annual_charge.year }}</a>
                {% empty %}
                    Nope.
                {% endfor %}
            {% endwith %}

            {% if sepa_batches %}
                <span class="badge badge-primary mb-2">Remesa SEPA</span>
                {% include 'payments/sepa/query.html' with valign=True hide_header=True object_list=sepa_batches hide_controls=True object_url_name='payments:sepa_detail' %}
            {% endif %}
        </div>
    </div>

    <form method="post" class="{% if sepa_batches %}mt-0 px-4 pb-4{% else %}mt-3 p-4{% endif %}">
            {% csrf_token %}
            {{form.account}}
        <div class="row">
            <div class="col-md-6">
                <!--{% include "common/forms/display_value.html" with value=object.reference label='Referencia' %}
                {% include "common/forms/display_value.html" with value=object.added label='Añadido' %}-->
                {% include "common/forms/field.html" with field=form.amount %}
                {% include "common/forms/field.html" with field=form.concept not_floating=True %}
                {% include "common/forms/field.html" with field=form.comment not_floating=True %}
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    {% include "common/forms/switch.html" with field=form.completed %}
                </div>
                <div id="payment-data" {% if not object.completed %} style="display:none;" {% endif %}>
                    {% include "common/forms/field.html" with field=form.timestamp %}
                    {% include "common/forms/field.html" with field=form.type not_floating=True %}
                    {% include "common/forms/display_value.html" with value=object.revised_by label='Revisado por' %}

                    <div class="mb-3">
                        {% include "common/forms/switch.html" with field=form.returned %}
                    </div>
                    <div id="return-data" {% if not object.returned %} style="display:none;" {% endif %}>
                        {% include "common/forms/field.html" with field=form.returned_timestamp %}
                        {% include "common/forms/field.html" with field=form.returned_reason not_floating=True %}
                    </div>
                </div>
            </div>
        </div>

    <div class="text-center mt-3">
            <button type="submit" class="btn btn-primary btn-lg">Guardar cambios</button>
        </div>

    </form>
</div>


<form method="post" action="{% url 'payments:payment_delete' object.pk %}">
     {% csrf_token %}
     <input type="hidden" name="redirect_to" value="{{redirect_to|default:request.path }}">

    <div class="modal fade" id="delete-payment" tabindex="-1" role="dialog" aria-labelledby="cancel-process-label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cancel-process-label">Eliminar pago</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
          <div class="mb-4 display-2 text-muted"> <i class="material-icons">error_outline</i></div>
           ¿Estás segura de que quieres eliminar el pago?<br>
          Esta acción no se puede deshacer.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary">Confirmar</button>
      </div>
    </div>
  </div>
</div>

</form>



{% endblock %}


{% block scripts %}
<script src="{% static 'js/moment.min.js' %}?v=7"></script>
<script src="{% static 'js/daterangepicker.js' %}?v=7"></script>
<script>
$(function() {
  var dateinput = $('input[name="{{ form.timestamp.name }}"], input[name="{{ form.returned_timestamp.name }}"]');
  dateinput.daterangepicker({
    singleDatePicker: true,
    timePicker: true,
    timePicker24Hour: true,
    drops:'up',
    locale: {
        "format": "DD/MM/YYYY HH:mm",
        "weekLabel": "W",
        "firstDay": 1
    },
  });
  dateinput.on('apply.daterangepicker', function(ev, picker) {
      $(this).val(picker.startDate.format('DD/MM/YYYY HH:mm'));
  });

  $('input[name="{{form.completed.name}}"]').on('change', function(){
    $('#payment-data').toggle(this.checked);
   });

   $('input[name="{{form.returned.name}}"]').on('change', function(){
    $('#return-data').toggle(this.checked);
   });
});
</script>

{% endblock %}
