{% extends 'base.html' %}
{% load settings_value %}

{% block title %}Detalles de pago{% endblock %}


{% block content %}


<div class="jumbotron py-4 px-2">
        <div class="container">
            <div class="row">
            <div class="col-md-12">
                <h4 class="mb-0"><a href="{% url 'accounts:signup_list' %}">Pagos</a><i class="material-icons md-18 ">arrow_forward_ios</i> Ref. {{object.reference}}</h4>
            </div>

        </div>
        </div>
    </div>


<div class="container pt-4">

    <div class="row">
         <div class="col-md-5 mb-3">
            {% include 'account/simple_profile.html' with account=object.account %}
             <div class="mt-2 pl-4">
             <a class="btn btn-secondary" href="{% settings_value 'BASESITE_URL' %}{% url object.account.detail_url object.account.pk %}">Ver perfil</a>
             </div>
        </div>

        <div class="col-md-7">
            <div class="card mb-3">
        <div class="card-body">
        <div class="d-flex align-items-stretch">
            <div class="pr-4 align-self-center text-center">
                <h3 class="text-black-50">{{object.amount}}€</h3>
                 {% if object.completed %}
                    <i class="material-icons">check_circle_outline</i> <small>Pagado</small>
                {% else %}
                    <i class="material-icons">access_time</i> <small>Pendiente</small>
                {% endif %}
            </div>
            <div>
                <small>Ref. {{object.reference}}</small><br>


                Creado: {{object.added|date:'d/m/Y H:i'}}<br>
                {{object.concept}}

            </div>
        </div>

        </div>
    </div>

        </div>



    </div>



    <form method="post" class="mt-3 p-4">
            {% csrf_token %}

    {{ form.as_p }}


    <div class="text-center mt-3">
            <button type="submit" class="btn btn-primary btn-lg">Guardar cambios</button>
        </div>

    </form>
</div>


{% endblock %}