{% extends 'base.html' %}
{% load settings_value %}
{% load staticfiles %}

{% block title %}Detalles de pago{% endblock %}


{% block content %}


<div class="jumbotron py-4 px-2">
        <div class="container">
            <div class="row">
            <div class="col-md-12">
                <h4 class="mb-0"><a href="{% url 'payments:payments_list' %}">Pagos</a><i class="material-icons md-18 ">arrow_forward_ios</i> Ref. {{object.reference}}</h4>
            </div>

        </div>
        </div>
    </div>


<div class="container pt-4">

    <div class="row">
         <div class="col-md-5 mb-3">
             <span class="badge badge-primary mb-2">Socia</span>
            <div class="card mb-3">
                <div class="card-body">
            {% include 'account/simple_profile.html' with account=object.account %}
             <div class="text-right">
                 <a class="btn btn-outline-secondary" href="{% settings_value 'BASESITE_URL' %}{% url object.account.detail_url object.account.pk %}?tab=payments">Ver pagos</a>
                 <a class="btn btn-outline-primary" href="{% settings_value 'BASESITE_URL' %}{% url object.account.detail_url object.account.pk %}">Ver perfil</a>
             </div>
                </div>
            </div>
        </div>

        <div class="col-md-7">
            <span class="badge badge-primary mb-2">Pago</span>
            <div class="card mb-3">
        <div class="card-body py-4">
        <div class="d-flex align-items-stretch">
            <div class="pr-4 align-self-center text-center">
                <h3 class="text-black-50">{{object.amount}}€</h3>
                 {% if object.completed %}
                    <i class="material-icons">check_circle_outline</i> <small>Pagado</small>
                {% else %}
                    <i class="material-icons">access_time</i> <small>Pendiente</small>
                {% endif %}
            </div>
            <div class="mb-3">
                <small>Ref. {{object.reference}}</small><br>

                Creado: {{object.added|date:'d/m/Y H:i'}}<br>
                {{object.concept}}

            </div>
        </div>

        </div>
    </div>

    </div>
    </div>

    <form method="post" class="mt-3 p-4">
            {% csrf_token %}
            {{form.account}}
        <div class="row">
            <div class="col-md-6">
                <!--{% include "common/forms/display_value.html" with value=object.reference label='Referencia' %}
                {% include "common/forms/display_value.html" with value=object.added label='Añadido' %}-->
                {% include "common/forms/field.html" with field=form.amount %}
                {% include "common/forms/field.html" with field=form.concept not_floating=True %}
                {% include "common/forms/field.html" with field=form.comment not_floating=True %}

            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    {% include "common/forms/switch.html" with field=form.completed %}
                </div>
                <div id="payment-data" {% if not object.completed %} style="display:none;" {% endif %}>
                    {% include "common/forms/field.html" with field=form.timestamp %}
                    {% include "common/forms/field.html" with field=form.type not_floating=True %}
                    {% include "common/forms/display_value.html" with value=object.revised_by label='Revisado por' %}

                    <div class="mb-3">
                        {% include "common/forms/switch.html" with field=form.returned %}
                    </div>
                    <div id="return-data" {% if not object.returned %} style="display:none;" {% endif %}>
                        {% include "common/forms/field.html" with field=form.returned_timestamp %}
                        {% include "common/forms/field.html" with field=form.returned_reason not_floating=True %}
                    </div>
                </div>

                {% if object.completed and object.revised_by %}

                {% endif %}
            </div>
        </div>

    <div class="text-center mt-3">
            <button type="submit" class="btn btn-primary btn-lg">Guardar cambios</button>
        </div>

    </form>
</div>


{% endblock %}


{% block scripts %}
<script src="{% static 'js/moment.min.js' %}?v=7"></script>
<script src="{% static 'js/daterangepicker.js' %}?v=7"></script>
<script>
$(function() {
  var dateinput = $('input[name="{{ form.timestamp.name }}"], input[name="{{ form.returned_timestamp.name }}"]');
  dateinput.daterangepicker({
    singleDatePicker: true,
    timePicker: true,
    timePicker24Hour: true,
    drops:'up',
    locale: {
        "format": "DD/MM/YYYY HH:mm",
        "weekLabel": "W",
        "firstDay": 1
    },
  });
  dateinput.on('apply.daterangepicker', function(ev, picker) {
      $(this).val(picker.startDate.format('DD/MM/YYYY HH:mm'));
  });

  $('input[name="{{form.completed.name}}"]').on('change', function(){
    $('#payment-data').toggle(this.checked);
   });

   $('input[name="{{form.returned.name}}"]').on('change', function(){
    $('#return-data').toggle(this.checked);
   });
});
</script>

{% endblock %}
