{% extends 'base.html' %}
{% load l10n %}
    {% load humanize %}
{% block title %}Pagos{% endblock %}


{% block content %}

    <div class="jumbotron py-4 px-2">
        <div class="container">
            <div class="row">
            <div class="col-sm-7 col-md-8">
                <h3 class="mb-0">Pagos</h3>
            </div>
                <div class="col-sm-4">
                    Total pendiente: <h3 class="d-inline ml-2">{{ total_pending | intcomma }} €</h3>
                </div>

        </div>
        </div>
    </div>

    <div class="container">
        {% include 'common/list/filter_form.html' %}
        {% include 'common/ajax_wrapper.html' with query_template='payments/query.html' %}
    </div>

{% endblock %}