{% extends 'common/list/base.html' %}

 {% block table_head %}

    <th scope="col" class="text-truncate {% if 'simple' in request.GET %}px-2{% else %}px-3{% endif %}">{% if not 'simple' in request.GET %}Estado{% endif %}</th>
    {% if not hide_entity_name %}
    <th scope="col">Cuenta</th>
    {% endif %}
    <th scope="col">Cantidad</th>
    {% if not 'simple' in request.GET %}
    <th scope="col" class="px-0">Tipo</th>
    {% endif %}
    <th scope="col">Concepto</th>
    <th scope="col">
        Fecha
        <a data-container="body" href="#" role="button" data-toggle="popover" data-placement="bottom" title="Ayuda" data-content="La fecha que se muestra depende del estado del pago. Si forma parte de una remesa SEPA, se muestra dicha fecha. Si el recibo ha sido devuelto, se muestra la fecha de devolución" data-trigger="focus" tabindex="0">
            <i class="material-icons" >help_outline</i>
        </a>

    </th>

{% endblock %}


{% block item_row %}

<td class="text-truncate {% if 'simple' in request.GET %}px-2{% else %}px-3{% endif %} {% if item.completed %}{% if item.returned %}bg-info{% else %}bg-success{% endif %}{% else %}bg-warning{% endif %}">
    {% if item.completed %}
        {% if item.returned %}
            <i class="material-icons">new_releases</i> <small> {% if not 'simple' in request.GET %}Devuelto{% endif %}</small>
        {% else %}
            <i class="material-icons">check_circle_outline</i> <small> {% if not 'simple' in request.GET %}Pagado{% endif %}</small>
        {% endif %}
    {% else %}
        <i class="material-icons">access_time</i> <small> {% if not 'simple' in request.GET %}Pendiente{% endif %}</small>
    {% endif %}
</td>
{% if not hide_entity_name %}
<td class="entity-td">{{item.account.display_name}}</td>
{% endif %}
<td class="amount">
    {{item.amount|floatformat:2}}&nbsp;€
</td>
{% if not 'simple' in request.GET %}
<td class="px-0">
{% if item.type %}
    <i class="material-icons" data-toggle="tooltip" data-placement="bottom" title="{{item.get_type_display}}">{{item.icon_name}}</i>
{% endif %}
</td>
{% endif %}
<td style="max-width:250px;" class="text-truncate hide-select">
    {% if 'simple' in request.GET %}
        {{item.concept |truncatechars:50 }}
    {% else %}
        {{item.concept}}
    {% endif %}
     </td>

<td class="hide-select">
    {% if item.completed %}
        {% if item.returned %}
            {{item.returned_timestamp|date:'d/m/Y'}}
        {% else %}
            {{item.timestamp|date:'d/m/Y'}}
        {% endif %}
    {% else %}
    {{item.added|date:'d/m/Y'}}
    {% endif %}
</td>

{% if not 'simple' in request.GET and not hide_controls %}
<td class="px-0">
    {% if not item.completed %}
    <a href="#" class="action" data-action="{% url 'payments:update_payment' item.pk %}" data-toggle="modal" data-target="#set-paid"> <i data-toggle="tooltip" data-placement="bottom" title="Marcar como pagado"  class="md-24 material-icons text-primary">check</i> </a>
    {% endif %}
</td>
{% endif %}
{% endblock %}
