{% load settings_value %}

<div class="card mb-3">
    <div class="card-body">
    <div class="d-flex align-items-stretch">
        <div class="pr-4 align-self-center text-center">
            <h3 class="text-black-50">{{payment.amount}}€</h3>
             {% if payment.completed %}
                <i class="material-icons">check_circle_outline</i> <small>Pagado</small>
            {% else %}
                <i class="material-icons">access_time</i> <small>Pendiente</small>
            {% endif %}
        </div>
        <div>
            <small>Ref. {{payment.reference}}</small><br>


            Creado: {{payment.added|date:'d/m/Y H:i'}}<br>
            {{payment.concept}}

            <div class="mt-3 text-right">
                <a class="btn btn-light mr-2" href="{% settings_value 'BASESITE_URL' %}{% url 'payments:payment_detail' payment.pk %}">Ver detalle</a>
                <a href="#" class="btn btn-secondary copy-clipboard" data-clipboard-text="{% settings_value 'BASESITE_URL' %}{% url 'payments:payment_form'  %}"><i class="material-icons mr-2">link</i>Copiar enlace pago</a>
            </div>
        </div>
    </div>

    </div>
</div>