<form method="post" class="mt-3 p-4" enctype="multipart/form-data" >
            {% csrf_token %}


        <div class="row">

            <div class="col-sm-7 ">
              {% include "common/forms/field.html" with field=form.name %}
          </div>

            <div class="col-sm-5 ">
              {% include "common/forms/field.html" with field=form.slug %}
          </div>

            <div class="col-sm-12 ">
              {% include "common/forms/field.html" with field=form.description %}
          </div>

            <div class="col-sm-6 ">
              {% include "common/forms/field.html" with field=form.expiration %}
          </div>

            <div class="col-sm-6 ">
              {% include "common/forms/field.html" with field=form.logo %}
          </div>

            <div class="col-sm-6 ">
              {% include "common/forms/checkbox.html" with field=form.include_code %}
          </div>

            <div class="col-sm-6 ">
              {% include "common/forms/field.html" with field=form.code_label %}
          </div>

        </div>
        <div class="text-center mt-3">
            <button type="submit" class="btn btn-primary btn-lg">Guardar</button>
        </div>

        </form>