{% extends 'base.html' %}
{% load staticfiles %}
{% load settings_value %}
{% load l10n %}
{% load chunks %}

{% block title %}Entidades | {{object.display_name}} {% endblock %}

{% block bodyattrs %} id="login-page" class="main-bg" {% endblock%}

{% block content %}

 <div class="jumbotron py-4 px-2">
        <div class="container">
            <div class="row">
            <div class="col-sm-8 col-md-8">
                <h4 class="mb-0 breadcrumbs">
                    <a href="{% url 'accounts:entity_list' %}">Entidades</a>
                    <i class="material-icons md-18 ">arrow_forward_ios</i>
                    {{object.display_name}}
                </h4>

            </div>

        </div>
        </div>
    </div>

     <ul class="nav nav-justified nav-tabs" id="tabs-content" role="tablist">
      <li class="nav-item">
        <a aria-controls="profile" aria-selected="true" class="nav-link {%if details_tab%}active{%endif%}" data-toggle="tab" href="#data-form" id="data-tab" role="tab">Datos de entidad</a>
      </li>

     {% if perms.payments.mespermission_can_view_payments %}
      <li class="nav-item">
        <a aria-controls="payments" aria-selected="false" class="nav-link {%if payments_tab%} active{%endif%}" data-toggle="tab" href="#payments-form" id="payments-tab" role="tab">Contabilidad</a>
      </li>
        {% endif %}

     <li class="nav-item">
        <a aria-controls="balances" aria-selected="false" class="nav-link {%if balances_tab%} active{%endif%}" data-toggle="tab" href="#balances-form" id="balances-tab" role="tab">Balance social</a>
      </li>
<!--
     <li class="nav-item">
        <a aria-controls="currency" aria-selected="false" class="nav-link {%if currency_tab%} active{%endif%}" data-toggle="tab" href="#currency-form" id="currency-tab" role="tab">Etics</a>
      </li>
    -->
    </ul>

<div class="tab-content">
  <div aria-labelledby="data-tab" class="tab-pane p-4 px-5 {%if details_tab%}show active{%endif%}" id="data-form" role="tabpanel">

      <h4> <span class="badge badge-primary mb-2 mt-2">Acuerdos de colaboración</span>
          <a href="#" type="button" data-toggle="collapse" data-target="#addCollaborationContainer" aria-expanded="false" aria-controls="commentContainer" class="btn btn-sm btn-secondary"><i class="material-icons mr-1">add</i>  Añadir</a></h4>

        <div class="collapse" id="addCollaborationContainer">
            {% include 'entity/edit_collab_form.html' with form=add_collab_form %}
        </div>

      {% for collab_form in collabs %}
            {% include 'entity/edit_collab_form.html' with form=collab_form %}
        {% empty %}
            <div class="my-2">
                La entidad todavía no tiene ningún acuerdo de colaboración...
            </div>
        {% endfor %}

      <form method="post" class="mt-4" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.media}}

            {% include 'entity/form.html' %}
        <div class="text-center mt-3">
            <button type="submit" class="btn btn-primary btn-lg">Guardar</button>
        </div>

        </form>
    </div>

    <div aria-labelledby="balances-tab" class="tab-pane p-4 px-5 {% if payments_tab %}show active{%endif%}" id="balances-form" role="tabpanel">
       <div class="row">
           <div class="col-md-4">
               <h4 class="text-primary"><i class="material-icons mr-1">schedule</i> Histórico</h4>
                {% include 'balance/query.html' with object_list=social_balances %}
           </div>

           <div class="col-md-6">
               <h4 class="text-primary"><i class="material-icons mr-1">bookmark</i> Balance actual</h4>
               {% include 'balance/current_balance.html' with balance=current_balance badge=current_badge %}
           </div>
       </div>

    </div>

    {% if perms.payments.mespermission_can_view_payments %}
    <div aria-labelledby="payments-tab" class="tab-pane p-4 px-5 {% if payments_tab %}show active{%endif%}" id="payments-form" role="tabpanel">

        <div class="row">
            <div class="col-md-7">
                <h4 class="text-primary"><i class="material-icons mr-1">receipt</i> Pagos</h4>
                {% include 'common/ajax_wrapper.html' with query_template='payments/query.html' object_list=payments object_url_name='payments:payment_detail' %}
            </div>
            <div class="col-md-5">
                <h4 class="text-primary mb-3"><i class="material-icons mr-1">receipt</i> Comentarios <button class="btn btn-light ml-2" type="button" data-toggle="collapse" data-target="#commentContainer" aria-expanded="false" aria-controls="commentContainer">
                Añadir comentario
                </button></h4>

                <form class="mb-4" method="post" action="{% url 'payments:add_fee_comment' %}">

                <div class="collapse" id="commentContainer">
                    {{comment_form.as_p}}
                    <input type="submit" name="add_comment" class="btn btn-lg btn-light" value="Enviar" />
                </div>
                {% csrf_token %}

                </form>

                {% for comment in fee_comments %}
                    {% if comment.completed_by %}
                        {% include 'user/simple_profile.html' with user=comment.completed_by %}
                    {% endif %}
                    {{comment.timestamp}}<br>
                    <span class="font-weight-light"> {{comment.comment}}</span>


                    <hr>
                {% empty %}
                    No hay ningún comentario.
                {% endfor %}



            </div>
        </div>

    </div>
    {% endif %}
<!--
    <div aria-labelledby="currency-tab" class="tab-pane p-4 px-5 {% if payments_tab %}show active{%endif%}" id="currency-form" role="tabpanel">
        <div class="row">
            <div class="col-md-4">
                {% include 'currency/app_user.html' with account=object %}
            </div>
        </div>
    </div>
-->
  </div>

{% endblock %}


{% block extra_styles %}
<link rel='stylesheet' href="{% static 'css/libs/jquery.spectrum.css' %}" />
{% endblock extra_styles %}

{% block scripts %}
<script src="{% static 'js/jquery.spectrum.js' %}"></script>
{% include 'common/include_gmaps.html' %}
<script type="text/javascript">

function initMap() {
{% if object %}
    var entityPosition = new google.maps.LatLng({{ object.latitude|unlocalize }}, {{ object.longitude|unlocalize }});
{% else %}
    var entityPosition = new google.maps.LatLng({% settings_value "INITIAL_LATITUDE"|unlocalize %}, {% settings_value "INITIAL_LONGITUDE"|unlocalize %});
{% endif %}

    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 16,
        center: entityPosition,
        zoomControl: true,
        scaleControl: true,
        streetViewControl: false,
        mapTypeControl:false
    });

    $('#map').removeClass('loading-container');

    var marker = new RichMarker({
      position: entityPosition,
      map: map,
      draggable:true,
      content: '<div class="marker-wrapper"><div class="marker"><img src="' + '{%if entity.first_photo_url %}{{entity.first_photo_url}}{%else%}{% static "imgs/etics-icon.png" %}{%endif%}' + '"></div></div>'
    });

    var latInput = $('[name="latitude"]');
    var lngInput = $('[name="longitude"]');

    function updateMarker(){
        marker.setPosition( new google.maps.LatLng( latInput.val(), lngInput.val() ) );
        map.setCenter(marker.getPosition());
    }
    latInput.on('change',  updateMarker);
    lngInput.on('change',  updateMarker);

    google.maps.event.addListener(
        marker,
        'drag',
        function() {
            latInput.val( marker.position.lat() );
            lngInput.val( marker.position.lng() );
        }
    );

    var update_timeout = null;
    google.maps.event.addListener(map, 'click', function(event){
        update_timeout = setTimeout(function(){
            marker.setPosition(event.latLng);
            latInput.val( marker.position.lat() );
            lngInput.val( marker.position.lng() );
        }, 200);
    });

    google.maps.event.addListener(map, 'dblclick', function(event) {
        clearTimeout(update_timeout);
    });

  }

</script>
{% endblock scripts %}