{% extends 'common/list/base.html' %}

 {% block table_head %}
    <th scope="col">Nombre</th>
    <th scope="col">Forma legal</th>
    {% if not simple_list %}

    <th scope="col">Modo de colaboración</th>
   <th scope="col">Fecha de alta</th>
    {% endif %}
{% endblock %}


{% block item_row %}

<td class="entity-td">{{item.name}} {% include 'category/tag_list.html' with tags=item.categories.all %}</td>
<td>{% if item.legal_form %} {{item.legal_form.title}} {% else %} - {% endif %}</td>
{% if not simple_list %}
<td>
   {% for collab in item.collabs.all %}
      {% include 'collab/badge.html' with collab=collab %}

    {% empty %}
    Ninguno
   {% endfor %}
</td>
<td>{{item.registration_date|date:'d/m/Y'}}</td>
{% endif %}
{% endblock %}