{% extends 'base.html' %}
{% load staticfiles %}
{% load chunks %}

{% block title %}Socias Intercoop. | {{object.display_name}}{% endblock %}

{% block bodyattrs %} id="login-page" class="main-bg" {% endblock%}

{% block content %}


 <div class="jumbotron py-4 px-2">
        <div class="container">
            <div class="row">
            <div class="col-sm-7 col-md-8">
                <h4 class="mb-0 breadcrumbs"><a href="{% url 'intercoop:accounts_list' %}">Socias intercoop.</a><i class="material-icons md-18 ">arrow_forward_ios</i>{{object.display_name}}</h4>
            </div>

        </div>
        </div>
    </div>


     <ul class="nav nav-justified nav-tabs" id="tabs-content" role="tablist">
      <li class="nav-item">
        <a aria-controls="profile" aria-selected="true" class="nav-link {%if details_tab%}active{%endif%}" data-toggle="tab" href="#data-form" id="data-tab" role="tab">Datos de socia</a>
      </li>

         <li class="nav-item">
        <a aria-controls="currency" aria-selected="false" class="nav-link {%if currency_tab%} active{%endif%}" data-toggle="tab" href="#currency-form" id="currency-tab" role="tab">Etics</a>
      </li>
    </ul>

<div class="tab-content">
  <div aria-labelledby="data-tab" class="tab-pane p-4 px-5 {%if details_tab%}show active{%endif%}" id="data-form" role="tabpanel">

        <div class="row px-4">
            <div class="col-md-3 mb-2">
              <div class="card">
                  <div class="card-body">
                            <label>Entidad intercoop.</label><br>
                            {{object.entity |default_if_none:'-' }}<br>

                          <label>Id. externo</label><br>
                            {{object.external_code |default_if_none:'-' }}
                      </div>

              </div>
          </div>

          <div class="col-md-3 mb-2">
              <div class="card">
                  <div class="card-body">
                      <div  class="clearfix">
                       <div class="float-left lead p-2 mb-2 mr-2">
                           {% include 'common/utils/check.html' with check=object.validated %}
                           </div>
                      <div class="float-left">
                          <label>Estado</label><br>
                            {{object.get_status_display}}
                      </div></div>
                      <div class="clearfix">
                          {% include 'common/utils/check.html' with check=object.newsletter_check %}
                          Inclusión en listas de correo
                      </div>

                      </div>
              </div>
          </div>
          <div class="col-md-3">
              {% if object.is_active %}
                <a class="btn btn-secondary text-light mb-2" data-toggle="modal" data-target="#cancel-process">Dar de baja</a><br>
              {% endif %}
              {% if not object.validated %}
                {% if perms.intercoop.mespermission_can_validate_account %}
                <a class="btn btn-secondary text-light mb-2" data-toggle="modal" data-target="#validate-process">Validar</a><br>
                {% endif %}
              {% endif %}
                <a class="btn btn-light disabled mb-2">Consultar historial</a><br>
          </div>
      </div>


        <form method="post" class="mt-3 p-4">
            {% csrf_token %}
            {{form.media}}
        <div class="">
            {% include 'intercoop/account/form.html' with form=form %}

        </div>

        <div class="text-center mt-3">
            <button type="submit" class="btn btn-primary btn-lg">Guardar</button>
        </div>

        </form>
    </div>

    <div aria-labelledby="currency-tab" class="tab-pane p-4 px-5 {% if payments_tab %}show active{%endif%}" id="currency-form" role="tabpanel">
        <div class="row">
            <div class="col-md-4">
                {% include 'currency/app_user.html' with account=object %}
            </div>
        </div>

    </div>

  </div>


<form method="post" action="{% url 'intercoop:validate_account' object.pk %}">
     {% csrf_token %}
     <input type="hidden" name="redirect_to" value="{{redirect_to|default:request.path }}">
    <input type="hidden" name="account" value="{{object.pk}}">

    <div class="modal fade" id="validate-process" tabindex="-1" role="dialog" aria-labelledby="validate-process-label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="validate-process-label">Validar socia</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
          <div class="mb-4 display-2 text-muted"> <i class="material-icons">error_outline</i></div>
           Esta acción creará el usuario en la app del Mercado Social y enviará un email de bienvenida con los datos de acceso a la socia.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary">Confirmar</button>
      </div>
    </div>
  </div>
</div>

 </form>

{% endblock %}


{% block extra_styles %}
<link rel='stylesheet' href="{% static 'css/libs/jquery.spectrum.css' %}" />
{% endblock extra_styles %}

{% block scripts %}
<script src="{% static 'js/jquery.spectrum.js' %}"></script>
<script type="text/javascript">
    $(function(){

    });
</script>
{% endblock scripts %}