{% load i18n %}
{% load staticfiles %}
{% load l10n %}

{% block extra_scripts %}
	<script type='text/javascript' src='https://www.google.com/jsapi'></script>
	<script type="text/javascript">
		// Load the Visualization API and the piechart package.
		google.load('visualization', '1.0', {'packages':['corechart']});

		// Set a callback to run when the Google Visualization API is loaded.
		google.setOnLoadCallback(drawChart);
		function drawChart() {

			var data = new google.visualization.DataTable();
			data.addColumn('date', "Fecha");
			data.addColumn('number', "Total");
			data.addRows( {{ graph_data|length }} );
			{% for row in graph_data %}
				data.setValue({{ forloop.counter0 }},0,new Date({{ row.day| date:'Y' }},{{ row.day|date:'n' }}-1,{{row.day|date:'j'}}));
				data.setValue({{ forloop.counter0 }},1,{%if floatvalues %} {{ row.total|unlocalize }} {%else%} {{ row.total }} {%endif%});
			{% endfor %}
	        var chart = new google.visualization.AreaChart(document.getElementById('activity_graph_div'));
	        chart.draw(data, {
	            width: "100%",
                height: 250,
                vAxis: {minValue:0, maxLines:2, viewWindow: {min:0 }, format: 'currency' },
                hAxis: {gridlines: {color: 'transparent'}},
                colors: ['#9c27b0'],

                lineWidth: 2,
                pointSize: 0,
                chartArea: {left:0,top:10,width:"100%",height:"100%"},
                backgroundColor: 'transparent',
                legend: 'none',
                series: [{areaOpacity:0.2}]
                });
	      }
	</script>
	{% endblock extra_scripts %}

<div id="activity_graph_div" class="graph">
	<div class="mes-loader my-2"></div>
	</div>