{% load settings_value %}
{% load staticfiles %}

<script async defer src="https://maps.googleapis.com/maps/api/js?key={% settings_value 'GMAPS_APIKEY' %}"></script>
<div class="infowindow_base hidden">
    <a class="infowindow">
        <div class="profile-circle card">
            <img src="">
        </div>
        <span class="title"></span>
        <span class="address"></span>
    </a>
</div>
<script type="text/javascript">
  $(window).on('load', function(){
    var scriptTag = document.createElement('script');
    scriptTag.onload = initMap;
    scriptTag.src = '{% static "js/gmaps.richmarker.js" %}';
    document.body.appendChild(scriptTag);
  });
</script>