.iban-code{
    border:1px solid #aaa;
    border-radius:2px;
    line-height:1.9em;
    background-image:url('iban-bg.png');
    background-size: 18px;
     font-family: monospace;
    font-size: 15px;
    padding-left: 4px;
    letter-spacing: 0.605rem;
    max-width:600px;
}