.iban-code{
    border:1px solid #aaa;
    border-radius:2px;
    line-height:1.9em;
    background-image:url('iban-bg.png');
    background-size: 18px;
     font-family: monospace;
    font-size: 15px;
    padding-left: 4px;
    letter-spacing: 0.605rem;
    max-width:600px;
}

.file-field{
    position:relative;

    input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
    }
}
