.page-link {
    .page-item.active & {
        background-color: theme-color(primary);
        color:color-yiq(theme-color(primary))
    }
}

table.valign td{
    vertical-align:middle;
}

table.narrow{
    td,th{
        padding-right:1.25rem;
        padding-left:1.25rem;
    }
}