.profile-circle{
    width: 140px;
    height: 140px;
    overflow: hidden;
    text-align:center;
    line-height:140px;
    border-radius: 50%;
    background-color:#ddd;
    position:relative;

    &.small{
        width:60px;
        height:60px;
        line-height:60px;
    }

    img {
        height:100%;
        width:auto;
        min-width: 100%;
        vertical-align:top;
        top: 50%;
        left: 50%;
        position: relative;
        -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
    }
}

.profile{
    padding-left:90px;
    padding-top:15px;
    height:70px;
    position:relative;

     .profile-circle{
        position:absolute;
        top:50%;
        left:8px;
        height:70px;
        width:70px;
        line-height:70px;
        margin-top:-35px;
    }
}