{% extends 'base.html' %}

{% block content %}

    <div class="container error-500 ml-2">
        <div>
            <h2>Error 500</h2>
            <h1>Algo ha fallado</h1>
            <h3>Prueba a actualizar la página o contacta con el equipo técnico.</h3>
            <div>
                <a href="" class="btn btn-primary"><i class="material-icons mr-2">refresh</i> Actualizar página</a>
                <a href="/" class="btn btn-primary ml-3"><i class="material-icons mr-2">arrow_back</i> Volver</a>
            </div>
        </div>
    </div>

{% endblock content %}