{% extends 'base.html' %}
{% load staticfiles %}
{% load humanize %}
{% block title %}Cobros de cuota{% endblock %}


{% block content %}

    <div class="jumbotron py-4 px-2">
        <div class="container-fluid">
            <div class="row">
            <div class="col-xl-6 d-flex">
                <h3 class="mb-0 mr-3">Cobro de cuotas anuales</h3>
                <ul class="pagination py-0 mb-0">
                {% for year in years %}
                    {% if year == current_year %}
                    <li class="page-item active">
                        <a class="page-link" href="#" aria-label="{{year}}">{{year}}</a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link" href="{% url 'payments:annual_feecharges' year %}" aria-label="{{year}}">{{year}}</a>
                    </li>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
            <div class="col-xl-4 text-md-right text-md-left">
                <a href="#" class="btn btn-primary ml-2" data-toggle="modal" data-target="#generate-annual-fee-modal">Generar cuotas anuales</a>
            </div>
            <div class="col-xl-2 text-right">
                Total: <h3 class="d-inline ml-2">{{ total_amount | intcomma }} €</h3>
            </div>

        </div>
        </div>
    </div>

    <div class="container-fluid" id="payments-list">
        {% include 'common/list/filter_form.html' %}
        {% include 'common/ajax_wrapper.html' with query_template='fee/query.html' valign=True %}
    </div>

    <form method="post" action="{% url 'payments:generate_fees'%}">
        {% csrf_token %}

        <input type="hidden" name="current_year" value="{{current_year}}">
        <div class="modal fade" id="generate-annual-fee-modal" tabindex="-1" role="dialog" aria-labelledby="generate-annual-fee-label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="generate-annual-fee-label">Generar cuotas anuales {{current_year}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                    </div>
                    <div class="modal-body text-center">
                        <div class="mb-4 display-2 text-muted"> <i class="material-icons">question_mark</i></div>
                        {% if current_year in years %}
                            <p class="lead">¿Deseas generar las cuotas de las consumidoras del mes de {{current_month}}?</p>
                            <input type="hidden" name="type" value="month">
                        {% else %}
                            <p class="lead">¿Deseas generar las cuotas de las consumidoras anteriores al 01/10/2023?</p>
                            <p>Este proceso puede durar mas de 1 minuto.<br>Si pulsas "Confirmar" no salgas de la página hasta que termine.</p>
                            <input type="hidden" name="type" value="year">
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Confirmar</button>
                    </div>
                </div>
            </div>
        </div>

    </form>


{% endblock %}


{% block scripts %}

{% endblock %}