{% extends 'base.html' %}
{% load staticfiles %}
{% load chunks %}

{% block title %}Nueva comisión{% endblock %}


{% block content %}

    <div class="jumbotron py-4 px-2">
        <div class="container-fluid">
            <div class="row">
            <div class="col-sm-12">
                <h3 class="mb-0"><a href="{% url 'management:commission_list' %}">Comisiones</a><i class="material-icons md-18 ">arrow_forward_ios</i> Nueva comisión</h3>
            </div>
        </div>
        </div>
    </div>

    <div class="container">
        <form method="post" class="mt-3 p-4">
            {% csrf_token %}

        <div class="row">
            <div class="col-sm-6 col-md-4">
              {% include "common/forms/field.html" with field=form.label_color %}
            </div>

            <div class="col-sm-12 ">
              {% include "common/forms/field.html" with field=form.group_name %}
          </div>

            <div class="col-sm-12">
          <div class="form-group">
            <label>{{ form.permissions.label }}</label>
            <select name="{{form.permissions.name}}" multiple="multiple" id="{{form.fields.permissions.auto_id}}" class="custom-select special-select" data-title="Elige un permiso" data-style="btn-default btn-block">
            {% for x,y in form.fields.permissions.choices %}
               <option value="{{ x }}"{% if form.fields.permissions.value == x %} selected{% endif %}>{{ y|split:'|'|last }}</option>
            {% endfor %}
            </select>
          </div>
        </div>

        </div>
        <div class="text-center mt-3">
            <button type="submit" class="btn btn-primary btn-lg">Crear comisión</button>
        </div>

        </form>
    </div>

{% endblock %}
