{% extends 'base.html' %}
{% load staticfiles %}
{% load chunks %}

{% block title %}{{object.group}} | Comisiones{% endblock %}

{% block bodyattrs %} id="login-page" class="main-bg" {% endblock%}

{% block content %}


 <div class="jumbotron py-4 px-2">
        <div class="container">
            <div class="row">
            <div class="col-sm-7 col-md-8">
                <h4 class="mb-0 breadcrumbs"><a href="{% url 'management:commission_list' %}">Comisiones</a><i class="material-icons md-18 ">arrow_forward_ios</i>{{object.group}}</h4>
            </div>

        </div>
        </div>
    </div>

 <div class="container">
        <form method="post" class="mt-3 p-4">
            {% csrf_token %}
            {{form.media}}

        <div class="row">
            <div class="col-sm-6 col-md-4">
              {% include "common/forms/field.html" with field=form.label_color  %}
            </div>

            <div class="col-sm-12 ">
              {% include "common/forms/field.html" with field=form.group_name %}
          </div>

            <div class="col-sm-12">

          <div class="form-group">
            <label>{{ form.permissions.label }}</label>
            <select name="{{form.permissions.name}}" multiple="multiple" id="{{form.fields.permissions.auto_id}}" class="custom-select special-select" data-title="Elige un permiso" data-style="btn-default btn-block">
            {% for x,y in form.fields.permissions.choices %}
               <option value="{{ x }}"{% if x in form.permissions.value %} selected {% endif %}>{{ y|split:'|'|last }}</option>
            {% endfor %}
            </select>
               {% if form.permissions.errors %}
                <div class="d-block invalid-feedback">
                    {% for error in form.permissions.errors %} {{error}}<br> {%endfor%}
                </div>
                {% endif %}
          </div>
        </div>

        </div>
        <div class="text-center mt-3">
            <button type="submit" class="btn btn-primary btn-lg">Guardar</button>
        </div>

        </form>
    </div>

{% endblock %}


{% block extra_styles %}
<link rel='stylesheet' href="{% static 'css/libs/jquery.spectrum.css' %}" />
{% endblock extra_styles %}

{% block scripts %}
<script src="{% static 'js/jquery.spectrum.js' %}"></script>
<script type="text/javascript">
    $(function(){
        $('.color-widget').wrap('<div class="color-container"></div>').spectrum({ preferredFormat: "hex"}).show();

    });
</script>
{% endblock scripts %}