{% extends 'base.html' %}

{% block title %}Comisiones{% endblock %}


{% block content %}

    <div class="jumbotron py-4 px-2">
        <div class="container">
            <div class="row">
            <div class="col-sm-7 col-md-8">
                <h3 class="mb-0">Comisiones</h3>
            </div>
            <div class="col-sm-5 col-md-4 text-sm-right">
                <a href="{% url 'management:commission_add' %}" class="btn btn-primary"><i class="material-icons mr-2">add</i> Nueva comisión</a>
            </div>
        </div>
        </div>
    </div>

    <div class="container-fluid mt-3">
        {% include 'common/ajax_wrapper.html' with query_template='commission/query.html' %}
    </div>

{% endblock %}