{% extends 'common/list/base.html' %}

 {% block table_head %}
    <th scope="col">Nombre</th>
    <th scope="col">Número de miembros</th>
    <th scope="col">Permisos</th>
{% endblock %}


{% block item_row %}

<td class="entity-td"><span class="p-2 mr-2 align-middle d-inline-block rounded-circle shadow-sm" style="background-color:{{item.label_color}}"></span>  {{item.group}}</td>
<td>{{item.group.user_set.count}}</td>
<td>
    <small class="text-muted">
    {% for perm in item.group.permissions.all %}
        {{ perm.name }}<br>
    {% endfor %}
    </small>
</td>

{% endblock %}