{% extends 'base.html' %}
{% load staticfiles %}
{% load settings_value %}
{% load l10n %}

{% block title %}Nueva socia proveedora{% endblock %}

{% block content %}

{% if not 'from_app' in request.GET %}
    <div class="jumbotron py-4 px-2">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="mb-0">{% if request.user.is_authenticated %} <a href="{% url 'management:users_list' %}">Usuarios</a><i class="material-icons md-18 ">arrow_forward_ios</i> {% endif %}Nueva entidad</h3>
                </div>
            </div>
        </div>
    </div>
{% endif %}

    <div class="container">
        <form method="post" class="mt-3 p-4" enctype="multipart/form-data">
            {% csrf_token %}


            <h4 class="text-primary">Datos fiscales</h4>

            <div class="row ">
                <div class="col-md-5">
                    {% include "common/forms/field.html" with field=form.cif %}

                </div>
                <div class="col-md-7">
                    {% include "common/forms/field.html" with field=form.name %}
                </div>
                <div class="col-md-5">
                        {% include "common/forms/field.html" with field=form.legal_form not_floating=True %}
                </div>
                <div class="col-md-7">
                    {% include "common/forms/field.html" with field=form.business_name %}
                </div>

                <div class="col-lg-12">
                        {% include "common/forms/field.html" with field=form.iban_code not_floating=True %}
                    {% include "common/forms/switch.html" with field=form.pay_by_debit %}
                        {% include "common/forms/field.html" with field=form.address not_floating=True %}
                </div>

                <div class="col-md-4">
                    {% include "common/forms/field.html" with field=form.postalcode %}
                </div>

                <div class="col-md-4">
                    {% include "common/forms/field.html" with field=form.city %}
                </div>

                <div class="col-md-4">
                    {% include "common/forms/field.html" with field=form.province %}
                </div>

            </div>

            <div class="row">

                <div class="col-lg-12">
                    <h4 class="text-primary mt-5">Datos de contacto</h4>
                        {% include "common/forms/field.html" with field=form.contact_person %}
                        {% include "common/forms/field.html" with field=form.contact_email %}
                    {% include "common/forms/field.html" with field=form.contact_phone %}

                    <h4 class="text-primary mt-5">Datos de entidad</h4>
                </div>
                <div class="col-md-7 col-lg-5 mb-4">
                    Aquí puedes introducir todos los datos de tu perfil que serán mostrados públicamente en la aplicación de moneda social, y que podrás editar fácilmente desde la aplicación una se complete el proceso de alta.
                </div>
                <div class="col-md-5 col-lg-7"></div>


                <div class="col-md-6 ">

                    {% include "common/forms/field.html" with field=form.description not_floating=True%}
                    {% include "common/forms/field.html" with field=form.short_description not_floating=True%}
                    {% include "common/forms/field.html" with field=form.public_address not_floating=True %}

                    <h5 class="text-primary mt-5">Redes sociales</h5>
                    {% include "common/forms/field.html" with field=form.facebook_link %}
                    {% include "common/forms/field.html" with field=form.webpage_link %}
                    {% include "common/forms/field.html" with field=form.twitter_link %}
                    {% include "common/forms/field.html" with field=form.telegram_link %}
                    {% include "common/forms/field.html" with field=form.instagram_link %}

                </div>

                <div class="col-md-6">
                    {% include "common/forms/field.html" with field=form.territory not_floating=True %}
                    {% include "common/forms/field.html" with field=form.start_year %}
                    {% include "common/forms/multiselect.html" with field=form.categories tags=categories %}

                    <div class="mb-3">
                    {% include "common/forms/checkbox.html" with field=form.assisted_last_fair %}</div>

                    <div class="card mt-4 ">
                    <div id="map" class="map no-resize loading-container">
                        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw loading-spinner"></i>
                        <span class="sr-only">Loading...</span>
                    </div>

                    <div class="card-body px-3 pb-0">
                            <h4 class="card-title"><i class="material-icons">edit_location</i> Geolocalización</h4>
                            <p class="card-text">Mueve el pin por el mapa hasta posicionarlo en la localización correcta. También puedes hacer click sobre la posición en la que quieras situarlo.</p>
                            <div class="form-group">
                                <label>Latitud</label>
                                {{ form.latitude }}
                                {% if form.latitude.errors %} <div class="alert alert-danger"> {{form.latitude.errors}}</div> {% endif %}
                            </div>
                            <div class="form-group">
                                <label>Longitud</label>
                                {{ form.longitude }}
                                {% if form.longitude.errors %} <div class="alert alert-danger"> {{form.longitude.errors}}</div> {% endif %}
                            </div>
                    </div>

                    <div class="card-footer">
                      <small class="text-muted">Puedes hacer zoom en los controles del mapa para ajustar al máximo la posición, o entrar en la vista de pantalla completa.</small>
                    </div>
                    </div>
                </div>

            </div>

            <h5 class="text-primary mt-5">Etics</h5>
            <div class="row mt-3">

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="{{ form.max_percent_payment.id_for_label }}">Máximo pago en etics</label>
                                    <div class="input-group">
                                            {{ form.max_percent_payment }}
                                            <span class="input-group-addon"><i class="fa fa-percent" aria-hidden="true"></i></span>
                                    </div>
                                    {% if form.max_percent_payment.errors %} <div class="alert alert-danger"> {{form.max_percent_payment.errors}}</div> {% endif %}
                                    <small class="form-text ">
                                    Porcentaje máximo sobre el valor de la venta que se acepta cobrar en etics. Recomendamos aceptar el 100% ya que el MESM garantiza a los proveedores la convertibilidad a €.
                                    </small>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Porcentaje de bonificación general</label>
                                    <div class="input-group">
                                        {{ form.bonus_percent_general }}
                                        <span class="input-group-addon"><i class="fa fa-percent" aria-hidden="true"></i></span>
                                    </div>
                                    {% if form.bonus_percent_general.errors %} <div class="alert alert-danger"> {{form.bonus_percent_general.errors}}</div> {% endif %}
                                    <small class="form-text ">
                                    Porcentaje aplicable sobre el valor total de la venta, que obtendrá como bonificación en etics la compradora (se sugiere un 3%)
                                    </small>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Porcentaje de bonificación a entidades</label>
                                    <div class="input-group">
                                        {{ form.bonus_percent_entity }}
                                        <span class="input-group-addon"><i class="fa fa-percent" aria-hidden="true"></i></span>
                                    </div>
                                    {% if form.bonus_percent_entity.errors %} <div class="alert alert-danger"> {{form.bonus_percent_entity.errors}}</div> {% endif %}
                                    <small class="form-text ">
                                    Porcentaje aplicable sobre el valor total de la venta, que obtendrán como bonificación en etics las compradoras que sean entidades proveedoras del mercado social.
                                    </small>
                                </div>
                            </div>
                        </div>

            <div class="row mt-3">
                <div class="col-md-12">

                    {% include "common/forms/field.html" with field=form.logo not_floating=True %}
                    {% include "common/forms/field.html" with field=form.banner not_floating=True %}

                </div>
            </div>


            <div class="row mt-3">
                <div class="col-md-12">
                    <h4 class="text-primary mt-5">Compromiso social</h4>
                </div>

                <div class="col-md-6">
                    {% include "common/forms/field.html" with field=form.benefits_destination not_floating=True %}
                </div>
                <div class="col-md-6">
                    {% include "common/forms/field.html" with field=form.apportations not_floating=True %}
                </div>

                <div class="col-md-12">
                     {% include "common/forms/field.html" with field=form.networking not_floating=True %}
                    Rellena los siguientes campos únicamente en caso de entidades colectivas. No contestar si eres una entidad individual.
                </div>

                <div class="col-md-4">
                    {% include "common/forms/field.html" with field=form.num_workers_female_partners  %}
                    {% include "common/forms/field.html" with field=form.num_workers_female_non_partners  %}
                </div>

                <div class="col-md-4">
                    {% include "common/forms/field.html" with field=form.num_workers_male_partners  %}
                    {% include "common/forms/field.html" with field=form.num_workers_male_non_partners  %}
                </div>

                <div class="col-md-4">
                    {% include "common/forms/field.html" with field=form.highest_salary  %}
                    {% include "common/forms/field.html" with field=form.lowest_salary  %}
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-lg-5">
                    <h4 class="text-primary">Cálculo de cuota</h4>

                    La cuota anual para entidades se calcula en base al número de trabajadoras y el rango de ingresos aproximados del último año.
                    <br><br>
                    {% include "common/forms/field.html" with field=form.num_workers %}

                {% include "common/forms/field.html" with field=form.aprox_income %}
                <small>En miles de Euros</small><br><br>

                    En la tabla a continuación puedes ver cuál será tu cuota anual para pertenecer al MES.
          </div>
                <div class="col-lg-7">
                    {% include 'payments/fees.html' %}
                </div>
            </div>

        <h4 class="text-primary mt-4">Aceptación de principios y compromisos del MES</h4>

            <a href="http://www.idealoga.org/wp-content/uploads/2016/03/Firma-de-principios-y-compromisos.pdf" target="_blank">Firma de principios y compromisos del MESM</a>
            <div class="row">
                <div class="col-md-12 col-lg-8">
            <div class="custom-control custom-switch mt-3">
                {{form.check_conditions}}
                  <span class="custom-control-track"></span>
                  <label class="custom-control-label" for="{{form.check_conditions.id_for_label}}">
                        Las personas que conformamos la entidad hemos leído el documento "Firma de principios y compromisos del MESM". Nos comprometemos a cumplir con las disposiciones desarrolladas en el mismo y a guiarse por los principios y valores éticos que lo inspiran.
                </label>

                {% if form.longitude.errors %} <div class="valid-feedback"> {{form.check_conditions.errors}}</div> {% endif %}
                </div>

                    </div>
            </div>
        <div class="text-center mt-3 mb-5">
            <button type="submit" class="btn btn-primary btn-lg">Enviar socilitud</button>
        </div>

        </form>
    </div>

{% endblock %}


{% block scripts %}
<script type="text/javascript" src="{% static 'js/jquery.formset.js' %}"></script>
{% include 'common/include_gmaps.html' %}
<script type="text/javascript">


  function initMap() {
{% if entity %}
    var entityPosition = new google.maps.LatLng({{ entity.latitude|unlocalize }}, {{ entity.longitude|unlocalize }});
{% else %}
    var entityPosition = new google.maps.LatLng({% settings_value "INITIAL_LATITUDE"|unlocalize %}, {% settings_value "INITIAL_LONGITUDE"|unlocalize %});
{% endif %}

    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 16,
        center: entityPosition,
        zoomControl: true,
        scaleControl: true,
        streetViewControl: false,
        mapTypeControl:false
    });

    $('#map').removeClass('loading-container');

    var marker = new RichMarker({
      position: entityPosition,
      map: map,
      draggable:true,
      content: '<div class="marker-wrapper"><div class="marker"><img src="' + '{%if entity.first_photo_url %}{{entity.first_photo_url}}{%else%}{% static "imgs/etics-icon.png" %}{%endif%}' + '"></div></div>'
    });

    var latInput = $('[name="latitude"]');
    var lngInput = $('[name="longitude"]');

    google.maps.event.addListener(
        marker,
        'drag',
        function() {
            latInput.val( marker.position.lat() );
            lngInput.val( marker.position.lng() );
        }
    );

    var update_timeout = null;
    google.maps.event.addListener(map, 'click', function(event){
        update_timeout = setTimeout(function(){
            marker.setPosition(event.latLng);
            latInput.val( marker.position.lat() );
            lngInput.val( marker.position.lng() );
        }, 200);
    });

    google.maps.event.addListener(map, 'dblclick', function(event) {
        clearTimeout(update_timeout);
    });

  }

</script>

{% endblock %}