{% extends 'base.html' %}

{% block title %}Nuevo usuario{% endblock %}


{% block content %}

    <div class="jumbotron py-4 px-2">
        <div class="container">
            <div class="row">
            <div class="col-sm-12">
                <h3 class="mb-0"><a href="{% url 'management:users_list' %}">Usuarios</a><i class="material-icons md-18 ">arrow_forward_ios</i> Nueva entidad</h3>
            </div>
        </div>
        </div>
    </div>

    <div class="container">
        <form method="post" class="mt-3 p-4" enctype="multipart/form-data">
            {% csrf_token %}


        {{form.as_p}}
        <div class="text-center mt-3">
            <button type="submit" class="btn btn-primary btn-lg">Crear usuario</button>
        </div>

        </form>
    </div>

{% endblock %}