
<form method="post" class="mt-1 py-4" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.media}}

    <!-- hidden submit button to be able to submit it from outside the form -->
    <button id="provider-form-submit" type="submit" class="btn btn-primary btn-lg" style="display: none;">Guardar</button>

<div class="list-group check-onload-form-errors" id="entity-data">
  <div class="expansion-panel list-group-item">
    <a aria-controls="fiscal" aria-expanded="false" class="expansion-panel-toggler collapsed" data-toggle="collapse" href="#fiscal" id="headingOne">
      <span>
          Datos fiscales
          <i class="invisible material-icons text-warning md-18 mb-2">report_problem</i>
      </span>
      <div class="expansion-panel-icon ml-3 text-black-secondary">
        <i class="collapsed-show material-icons">keyboard_arrow_down</i>
        <i class="collapsed-hide material-icons">keyboard_arrow_up</i>
      </div>
    </a>
    <div aria-labelledby="headingOne" class="collapse" data-parent="#entity-data" id="fiscal">
      <div class="expansion-panel-body">
        <div class="row ">
                <div class="col-md-5">
                    {% include "common/forms/field.html" with field=form.cif %}

                </div>
                <div class="col-md-7">
                    {% include "common/forms/field.html" with field=form.name %}
                </div>
                <div class="col-md-5">
                        {% include "common/forms/field.html" with field=form.legal_form not_floating=True %}
                </div>
                <div class="col-md-7">
                    {% include "common/forms/field.html" with field=form.business_name %}
                </div>

                <div class="col-lg-12">
                        {% include "common/forms/field.html" with field=form.iban_code not_floating=True %}
                        {% include "common/forms/switch.html" with field=form.pay_by_debit %}
                        {% include "common/forms/field.html" with field=form.address not_floating=True %}
                </div>

                <div class="col-md-4">
                    {% include "common/forms/field.html" with field=form.postalcode %}
                </div>

                <div class="col-md-4">
                    {% include "common/forms/field.html" with field=form.city %}
                </div>

                <div class="col-md-4">
                    {% include "common/forms/field.html" with field=form.province %}
                </div>

            <div class="col-md-12 my-4">
             <h5 class="text-primary">Cálculo de cuota</h5>
                    La cuota anual para entidades se calcula en base al número de trabajadoras y el rango de ingresos aproximados del último año.
                    <br>
            </div>
            <div class="col-sm-6 col-md-4">{% include "common/forms/field.html" with field=form.num_workers %}</div>
            <div class="col-sm-6 col-md-4">{% include "common/forms/field.html" with field=form.aprox_income %}</div>
            <div class="col-sm-6 col-md-4">{% include "common/forms/display_value.html" with value=object.current_fee label='Cuota anual' %}</div>
            </div>
        </div>


             </div>
    </div>
  </div>

  <div class="expansion-panel list-group-item">
    <a aria-controls="contact" aria-expanded="false" class="expansion-panel-toggler collapsed" data-toggle="collapse" href="#contact" id="contact-heading">
      <span>
        Datos de contacto
          <i class="invisible material-icons text-danger">report_problem</i>
      </span>
      <div class="expansion-panel-icon ml-3 text-black-secondary">
        <i class="collapsed-show material-icons">keyboard_arrow_down</i>
        <i class="collapsed-hide material-icons">keyboard_arrow_up</i>
      </div>
    </a>
    <div aria-labelledby="contact-heading" class="collapse" data-parent="#entity-data" id="contact">
      <div class="expansion-panel-body">
        {% include "common/forms/field.html" with field=form.contact_person %}
        {% include "common/forms/field.html" with field=form.contact_email %}
        {% include "common/forms/field.html" with field=form.contact_email2 visible_by=form.contact_email %}
        {% include "common/forms/field.html" with field=form.contact_phone %}
        {% include "common/forms/field.html" with field=form.contact_phone2 visible_by=form.contact_phone %}

         </div>
    </div>
  </div>
  <div class="expansion-panel list-group-item">
    <a aria-controls="Datos de perfil" aria-expanded="false" class="expansion-panel-toggler collapsed" data-toggle="collapse" href="#profile-data" id="headingThree">
      <span>
        Datos de entidad
          <i class="invisible material-icons text-warning md-18 mb-2">report_problem</i>
      </span>
      <div class="expansion-panel-icon ml-3 text-black-secondary">
        <i class="collapsed-show material-icons">keyboard_arrow_down</i>
        <i class="collapsed-hide material-icons">keyboard_arrow_up</i>
      </div>
    </a>
    <div aria-labelledby="headingThree" class="collapse" data-parent="#entity-data" id="profile-data">
      <div class="expansion-panel-body">

        <div class="row">
        <div class="col-md-6 ">
                    {% include "common/forms/image_field.html" with field=form.logo %}
                    {% include "common/forms/field.html" with field=form.description not_floating=True%}
                    {% include "common/forms/field.html" with field=form.short_description not_floating=True%}
                    {% include "common/forms/field.html" with field=form.public_address not_floating=True %}
                    <h5 class="text-primary mt-5">Redes sociales</h5>
                    {% include "common/forms/field.html" with field=form.facebook_link %}
                    {% include "common/forms/field.html" with field=form.webpage_link %}
                    {% include "common/forms/field.html" with field=form.twitter_link %}
                    {% include "common/forms/field.html" with field=form.telegram_link %}
                    {% include "common/forms/field.html" with field=form.instagram_link %}

                </div>

                <div class="col-md-6">
                    <div class="mb-3">
                        {% include "common/forms/switch.html" with field=form.hidden_in_catalog %}</div>
                    {% include "common/forms/field.html" with field=form.start_year %}
                    {% include "common/forms/field.html" with field=form.territory not_floating=True %}
                    {% include "common/forms/multiselect.html" with field=form.categories tags=categories %}
                    <div class="mb-3">
                    {% include "common/forms/checkbox.html" with field=form.assisted_last_fair %}</div>

                    <div class=" mt-4 ">
                    <div id="map" class="map no-resize loading-container">
                        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw loading-spinner"></i>
                        <span class="sr-only">Loading...</span>
                    </div>

                    <div class="card-body px-3 pb-0">
                            <h5 class="text-primary">Geolocalización</h5>
                            <p class="card-text">Mueve el pin por el mapa hasta posicionarlo en la localización correcta.</p>
                            <div class="form-group">
                                <label>Latitud</label>
                                {{ form.latitude }}
                                {% if form.latitude.errors %} <div class="alert alert-danger"> {{form.latitude.errors}}</div> {% endif %}
                            </div>
                            <div class="form-group">
                                <label>Longitud</label>
                                {{ form.longitude }}
                                {% if form.longitude.errors %} <div class="alert alert-danger"> {{form.longitude.errors}}</div> {% endif %}
                            </div>
                    </div>

                    <div class="card-footer">
                      <small class="text-muted">Puedes hacer zoom en los controles del mapa para ajustar al máximo la posición, o entrar en la vista de pantalla completa.</small>
                    </div>
                    </div>
                </div>


        </div>
              </div>
    </div>
  </div>


  <div class="expansion-panel list-group-item">
    <a aria-controls="contact" aria-expanded="false" class="expansion-panel-toggler collapsed" data-toggle="collapse" href="#currency" id="contact-heading">
      <span>
        Datos de Etics
          <i class="invisible material-icons text-warning md-18 mb-2">report_problem</i>
      </span>
      <div class="expansion-panel-icon ml-3 text-black-secondary">
        <i class="collapsed-show material-icons">keyboard_arrow_down</i>
        <i class="collapsed-hide material-icons">keyboard_arrow_up</i>
      </div>
    </a>
    <div aria-labelledby="contact-heading" class="collapse" data-parent="#entity-data" id="currency">
      <div class="expansion-panel-body">

          <div class="row mt-3">

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="{{ form.max_percent_payment.id_for_label }}">Máximo pago en etics</label>
                                    <div class="input-group">
                                            {{ form.max_percent_payment }}
                                            <span class="input-group-addon"><i class="fa fa-percent" aria-hidden="true"></i></span>
                                    </div>
                                    {% if form.max_percent_payment.errors %} <div class="alert alert-danger"> {{form.max_percent_payment.errors}}</div> {% endif %}
                                    <small class="form-text ">
                                    Porcentaje máximo sobre el valor de la venta que se acepta cobrar en etics. Recomendamos aceptar el 100% ya que el MESM garantiza a los proveedores la convertibilidad a €.
                                    </small>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Porcentaje de bonificación general</label>
                                    <div class="input-group">
                                        {{ form.bonus_percent_general }}
                                        <span class="input-group-addon"><i class="fa fa-percent" aria-hidden="true"></i></span>
                                    </div>
                                    {% if form.bonus_percent_general.errors %} <div class="alert alert-danger"> {{form.bonus_percent_general.errors}}</div> {% endif %}
                                    <small class="form-text ">
                                    Porcentaje aplicable sobre el valor total de la venta, que obtendrá como bonificación en etics la compradora (se sugiere un 3%)
                                    </small>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Porcentaje de bonificación a entidades</label>
                                    <div class="input-group">
                                        {{ form.bonus_percent_entity }}
                                        <span class="input-group-addon"><i class="fa fa-percent" aria-hidden="true"></i></span>
                                    </div>
                                    {% if form.bonus_percent_entity.errors %} <div class="alert alert-danger"> {{form.bonus_percent_entity.errors}}</div> {% endif %}
                                    <small class="form-text ">
                                    Porcentaje aplicable sobre el valor total de la venta, que obtendrán como bonificación en etics las compradoras que sean entidades proveedoras del mercado social.
                                    </small>
                                </div>
                            </div>
                        </div>

         </div>
    </div>
  </div>


      <div class="expansion-panel list-group-item">
    <a aria-controls="contact" aria-expanded="false" class="expansion-panel-toggler collapsed" data-toggle="collapse" href="#commitment" id="commitment-heading">
      <span>
        Compromiso social
          <i class="invisible material-icons text-warning md-18 mb-2">report_problem</i>
      </span>
      <div class="expansion-panel-icon ml-3 text-black-secondary">
        <i class="collapsed-show material-icons">keyboard_arrow_down</i>
        <i class="collapsed-hide material-icons">keyboard_arrow_up</i>
      </div>
    </a>
    <div aria-labelledby="commitment-heading" class="collapse" data-parent="#entity-data" id="commitment">
      <div class="expansion-panel-body pb-5">

          <div class="row">


                <div class="col-md-6">
                    {% include "common/forms/field.html" with field=form.benefits_destination not_floating=True %}
                </div>
                <div class="col-md-6">
                    {% include "common/forms/field.html" with field=form.apportations not_floating=True %}
                </div>

                <div class="col-md-12">
                     {% include "common/forms/field.html" with field=form.networking not_floating=True %}
                    Rellena los siguientes campos únicamente en caso de entidades colectivas. No contestar si eres una entidad individual.
                </div>

                <div class="col-md-4">
                    {% include "common/forms/field.html" with field=form.num_workers_female_partners  %}
                    {% include "common/forms/field.html" with field=form.num_workers_female_non_partners  %}
                </div>

                <div class="col-md-4">
                    {% include "common/forms/field.html" with field=form.num_workers_male_partners  %}
                    {% include "common/forms/field.html" with field=form.num_workers_male_non_partners  %}
                </div>

                <div class="col-md-4">
                    {% include "common/forms/field.html" with field=form.highest_salary  %}
                    {% include "common/forms/field.html" with field=form.lowest_salary  %}
                </div>
            </div>


         </div>
    </div>
  </div>

</form>


<div class="list-group">
  <div class="expansion-panel list-group-item">
    <a aria-controls="fiscal" aria-expanded="false" class="expansion-panel-toggler collapsed" data-toggle="collapse" href="#collabs" id="heading-collabs">
      <span>
          Acuerdos de colaboración
          <i class="invisible material-icons text-warning md-18 mb-2">report_problem</i>
      </span>
      <div class="expansion-panel-icon ml-3 text-black-secondary">
        <i class="collapsed-show material-icons">keyboard_arrow_down</i>
        <i class="collapsed-hide material-icons">keyboard_arrow_up</i>
      </div>
    </a>
    <div aria-labelledby="heading-collabs" class="collapse" data-parent="#entity-data" id="collabs">
      <div class="expansion-panel-body px-0 pb-0">
            <a href="#" type="button" data-toggle="collapse" data-target="#addCollaborationContainer" aria-expanded="false" aria-controls="commentContainer" class="btn btn-sm ml-3 mb-3 btn-secondary"><i class="material-icons mr-1">add</i>  Añadir</a>

            <div class="collapse" id="addCollaborationContainer">
                {% include 'entity/edit_collab_form.html' with form=add_collab_form %}
            </div>

          {% for collab_form in collabs %}
                {% include 'entity/edit_collab_form.html' with form=collab_form %}
            {% empty %}
                <div class="my-2 ml-3">
                    La entidad todavía no tiene ningún acuerdo de colaboración...
                </div>
            {% endfor %}
      </div>
    </div>
  </div>
</div>



<div class="text-center mt-3">
    <!-- hidden submit button to be able to submit it from outside the form -->
    <label for="provider-form-submit" role="button" class="btn btn-primary btn-lg">Guardar</label>
</div>