{% extends 'common/list/base.html' %}
{% load tz %}

 {% block table_head %}
    <th scope="col">Nombre</th>
    <th scope="col">Forma legal</th>
    {% if not simple_list %}
    <th scope="col">Fecha de alta</th>
    <th scope="col">Fecha de baja</th>
   <th scope="col">Últ. actualización</th>
    <th scope="col" class="px-0">Sincr. en app</th>
    {% endif %}
{% endblock %}


{% block item_row %}

<td class="entity-td">{{item.name}} {% include 'category/tag_list.html' with tags=item.categories.all %}</td>
<td>{% if item.legal_form %} {{item.legal_form.title}} {% else %} - {% endif %}</td>
{% if not simple_list %}
<td>{{item.registration_date|date:'d/m/Y'}}</td>
<td>{{item.opted_out_date|date:'d/m/Y'}}</td>
<td><small>{{item.last_updated|localtime|date:'d/m/Y H:i'|default:"Nunca"}}</small></td>
<td class="px-0">
   {%if item.app_user.exists %}
      <i class="material-icons" data-toggle="tooltip" data-placement="bottom" title="Sincronizada">done</i>
      {% if item.app_user.first.username %}
         <i class="material-icons text-success" data-toggle="tooltip" data-placement="bottom" title="Registrada">done_all</i>
      {% endif %}

      {% if item.logo %}
         <i class="material-icons text-primary" data-toggle="tooltip" data-placement="bottom" title="Logo">image</i>
      {% endif %}

   {% endif %}
</td>
{% endif %}
{% endblock %}