{% extends 'base.html' %}

{% block title %}Nueva socia consumidora{% endblock %}


{% block content %}

{% if not 'from_app' in request.GET %}
    <div class="jumbotron py-4 px-2">
        <div class="container">
            <div class="row">
            <div class="col-sm-12">
                <h3 class="mb-0">{% if request.user.is_authenticated %}<a href="{% url 'accounts:signup_list' %}">Consumidoras</a><i class="material-icons md-18 ">arrow_forward_ios</i>{% endif %} Nueva socia consumidora</h3>
            </div>
        </div>
        </div>
    </div>
{% endif %}

    <div class="container">
        <form method="post" class="mt-3 p-4" target="_parent">
            {% csrf_token %}
            {% include "consumer/signup.html" %}
        <div class="text-center mt-5 mb-5">
            <button type="submit" class="btn btn-primary btn-lg">Enviar solicitud</button>
        </div>

        </form>
    </div>

{% endblock %}