{% extends 'base.html' %}
{% load staticfiles %}
{% load chunks %}

{% block title %}Consumidoras | {{object.display_name}}{% endblock %}

{% block bodyattrs %} id="login-page" class="main-bg" {% endblock%}

{% block content %}


 <div class="jumbotron py-4 px-2">
        <div class="container">
            <div class="row">
            <div class="col-sm-7 col-md-8">
                <h4 class="mb-0 breadcrumbs"><a href="{% url 'accounts:consumers_list' %}">Consumidoras</a><i class="material-icons md-18 ">arrow_forward_ios</i>{{object.display_name}}</h4>
            </div>

        </div>
        </div>
    </div>


     <ul class="nav nav-justified nav-tabs" id="tabs-content" role="tablist">
      <li class="nav-item">
        <a aria-controls="profile" aria-selected="true" class="nav-link {%if details_tab%}active{%endif%}" data-toggle="tab" href="#data-form" id="data-tab" role="tab">Datos de socia</a>
      </li>
         {% if perms.payments.mespermission_can_view_payments %}
      <li class="nav-item">
        <a aria-controls="payments" aria-selected="false" class="nav-link {%if payments_tab%} active{%endif%}" data-toggle="tab" href="#payments-form" id="payments-tab" role="tab">Contabilidad</a>
      </li>
         {% endif %}

         <li class="nav-item">
        <a aria-controls="currency" aria-selected="false" class="nav-link {%if currency_tab%} active{%endif%}" data-toggle="tab" href="#currency-form" id="currency-tab" role="tab">Etics</a>
      </li>
    </ul>

<div class="tab-content">
  <div aria-labelledby="data-tab" class="tab-pane p-4 px-5 {%if details_tab%}show active{%endif%}" id="data-form" role="tabpanel">

      <div class="row px-4">
          <div class="col-md-3">
              <div class="card">
                  <div class="card-body">
                       <div class="float-left lead p-2 mb-2 mr-2">
                      {% if object.is_active %}
                        <i class="material-icons">check</i>
                      {% else %}
                        <i class="material-icons">clear</i>
                      {% endif %}
                           </div>
                      <div class="float-left">
                          <label>Estado</label><br>
                            {{object.get_status_display}}
                      </div>

                      </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card">
                  <div class="card-body">
              <label>Acogida</label><br>
                 {% if signup %}
                     <p class="pb-1"><a class="text-primary" href="{% url 'accounts:signup_detail' signup.pk %}"> {% include 'bpm/current_state.html' with workflow=signup.workflow %} <i class="material-icons mx-2">visibility</i></a></p>
                  {% else %}
                    <p class="pb-3"> Importada (previa a 2019)</p>
                  {% endif %}
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              {% if object.is_active %}
                <a class="btn btn-secondary text-light mb-2" data-toggle="modal" data-target="#cancel-process">Dar de baja</a><br>
              {% endif %}
                <a class="btn btn-light disabled mb-2">Consultar historial</a><br>
          </div>
      </div>


      {% if object.is_active %}

      <form method="post" action="{% url 'accounts:consumer_delete' object.pk %}">
         {% csrf_token %}
         <input type="hidden" name="redirect_to" value="{{redirect_to|default:request.path }}">
        <input type="hidden" name="process" value="{{object.pk}}">

        <div class="modal fade" id="cancel-process" tabindex="-1" role="dialog" aria-labelledby="cancel-process-label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="cancel-process-label">Baja de entidad</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body text-center">
              <div class="mb-4 display-2 text-muted"> <i class="material-icons">error_outline</i></div>
               Esta acción creará un proceso de baja para la entidad actual.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Confirmar</button>
          </div>
        </div>
      </div>
    </div>

     </form>

      {% endif %}


        <form method="post" class="mt-3 p-4">
            {% csrf_token %}
            {{form.media}}
        <div class="">
            {% include 'consumer/form.html' with form=form %}

        </div>

        <div class="text-center mt-3">
            <button type="submit" class="btn btn-primary btn-lg">Guardar</button>
        </div>

        </form>
    </div>

    {% if perms.payments.mespermission_can_view_payments %}
    <div aria-labelledby="payments-tab" class="tab-pane p-4 px-5 {% if payments_tab %}show active{%endif%}" id="payments-form" role="tabpanel">
        <div class="row">
            <div class="col-md-7">
        <h3 class="text-primary"><i class="material-icons mr-1">receipt</i> Pagos</h3>
       {% include 'common/ajax_wrapper.html' with query_template='payments/query.html' object_list=payments object_url_name='payments:payment_detail' %}
            </div>
            <div class="col-md-5">
                <h4 class="text-primary mb-3"><i class="material-icons mr-1">receipt</i> Comentarios <button class="btn btn-light ml-2" type="button" data-toggle="collapse" data-target="#commentContainer" aria-expanded="false" aria-controls="commentContainer">
                Añadir comentario
                </button></h4>

                <form class="mb-4" method="post" action="{% url 'payments:add_fee_comment' %}">

                <div class="collapse" id="commentContainer">
                    {{comment_form.as_p}}
                    <input type="submit" name="add_comment" class="btn btn-lg btn-light" value="Enviar" />
                </div>
                {% csrf_token %}

                </form>

                {% for comment in fee_comments %}
                    {% if comment.completed_by %}
                        {% include 'user/simple_profile.html' with user=comment.completed_by %}
                    {% endif %}
                    {{comment.timestamp}}<br>
                    <span class="font-weight-light"> {{comment.comment}}</span>


                    <hr>
                {% empty %}
                    No hay ningún comentario.
                {% endfor %}

            </div>
    </div>

    </div>
    {% endif %}

    <div aria-labelledby="currency-tab" class="tab-pane p-4 px-5 {% if currency_tab %}show active{%endif%}" id="currency-form" role="tabpanel">
        <div class="row">
            <div class="col-md-4">
                {% include 'currency/app_user.html' with account=object %}
            </div>
        </div>

    </div>

  </div>

{% endblock %}


{% block extra_styles %}
<link rel='stylesheet' href="{% static 'css/libs/jquery.spectrum.css' %}" />
{% endblock extra_styles %}

{% block scripts %}
<script src="{% static 'js/jquery.spectrum.js' %}"></script>
<script type="text/javascript">
    $(function(){

    });
</script>
{% endblock scripts %}