{% extends 'base.html' %}

{% block title %}Nueva socia consumidora{% endblock %}


{% block content %}

    <div class="jumbotron py-4 px-2">
        <div class="container">
            <div class="row">
            <div class="col-sm-12">
                <h3 class="mb-0">{% if request.user.is_authenticated %}<a href="{% url 'accounts:consumers_list' %}">Consumidoras</a>{% else %} Acogidas {% endif %}<i class="material-icons md-18 ">arrow_forward_ios</i> {{object.display_name|default:"Nueva socia consumidora" }}</h3>
            </div>
        </div>
        </div>
    </div>

    <div class="container">
        <form method="post" class="mt-3 p-4">
            {% if perms.accounts.mespermission_can_update_signups %}
            {% csrf_token %}
            {% endif %}

            {% include "consumer/signup.html" %}

        <div class="text-center mt-3 mb-5">
            {% if perms.accounts.mespermission_can_update_signups %}
            <button type="submit" class="btn btn-primary btn-lg">Enviar solicitud</button>
            {% endif %}
        </div>

        </form>
    </div>

{% endblock %}