<div class="row">
        {{ form.field.as_hidden }}
        {{ form.field.as_hidden }}
        {{ form.field.as_hidden }}
    <div class="col-md-5">
                    {% include "common/forms/field.html" with field=form.cif %}
                    {% include "common/forms/field.html" with field=form.contact_email %}
        {% include "common/forms/field.html" with field=form.contact_phone %}
                </div>
    <div class="col-md-7">
        {% include "common/forms/field.html" with field=form.first_name %}
        {% include "common/forms/field.html" with field=form.last_name %}</div>
                <div class="col-lg-12">


                        {% include "common/forms/field.html" with field=form.iban_code not_floating=True %}
                        {% include "common/forms/switch.html" with field=form.pay_by_debit %}
                        {% include "common/forms/field.html" with field=form.address not_floating=True %}
                </div>

                <div class="col-md-4">
                    {% include "common/forms/field.html" with field=form.postalcode %}
                </div>

                <div class="col-md-4">
                    {% include "common/forms/field.html" with field=form.city %}
                </div>

                <div class="col-md-4">
                    {% include "common/forms/field.html" with field=form.province %}
                </div>
</div>