{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Sello{% endblock %}


{% block content %}

    <div class="jumbotron py-4 px-2">
        <div class="container">
            <div class="row">
            <div class="col-sm-8">
                 <h4 class="mb-0">Balance social<i class="material-icons md-18 ">arrow_forward_ios</i> <a href="{% url 'balance:badge_list' %}">Sellos</a><i class="material-icons md-18 ">arrow_forward_ios</i>Sello {{object.year}}</h4>
            </div>
            <div class="col-sm-4 col-md-4 text-sm-right">
                <a href="{% url 'balance:badge_edit' object.pk %}" class="btn btn-primary"><i class="material-icons mr-2">edit</i> Editar</a>
            </div>
        </div>
        </div>
    </div>

    <div class="container">
        <div id="badge-creator">
            <img id="badge_img" src="{{object.base_img.url}}">
            <div class="resizedrag-label" id="entity-name">
                <span>Nombre entidad largoooooooooooooooooooooooo</span>
                <div class="resize-handle"> </div>
              </div>
            <div class="resizedrag-label" id="achievement">
                 {% if object.include_labels %}<strong>LOGRO {{object.year}}</strong>{% endif %}
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                <div class="resize-handle"> </div>
              </div>

            <div class="resizedrag-label" id="challenge">
                  {% if object.include_labels %}<strong>RETO {{object.year|add:1}}</strong>{% endif %}
                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                <div class="resize-handle"> </div>
              </div>

            <div class="resizedrag-label" id="info">
                 3 trabajador@s<br>
                 desde 2015
                <div class="resize-handle"> </div>
              </div>

        </div>

    </div>

{% endblock %}

{% block extra_styles %}
<style>
    @font-face {
      font-family: 'Coolvetica';
      src: URL('{% static 'fonts/coolvetica.ttf' %}') format('truetype');
    }

    #badge-creator{
        width:60vw;
        min-height:35vw;
        background-color:#eee;
        margin:2rem auto;
        position:relative;
    }

    #badge_img{
        width:100%;
    }
    #entity-name, #info{
        font-family: 'Coolvetica';
        color:#663879;
        line-height:0.95;
    }
    .resizedrag-label {
      color: #111;
      font-size: 20px;
      font-family: sans-serif;
      border-radius: 2px;
      padding: 5px;
      touch-action: none;
        user-select: none;

        position:absolute;
        top:0;
      width: 40vw;

      /* This makes things *much* easier */
      box-sizing: border-box;
    }

</style>
{% endblock extra_styles %}

{% block scripts %}
    <script src="{% static 'js/jquery.resizetext.js' %}?v=6"></script>
<script type="text/javascript">

var min_font = 100;
var layout_data = {{object.layout_json|safe }};
for (var i = 0; i < layout_data.length; i++) {
    var label = layout_data[i];
    var elem = $('#'+label['id']);
    elem
        .css('width', label['width']+'%')
        .css('height', label['height']+'%')
        .css('top', label['top']+'%')
        .css('left', label['left']+'%')
        .resizeText();
    min_font = Math.min(min_font, parseFloat(elem.css('font-size')));
}
$('#achievement,#challenge').css('font-size', min_font+'px');

var entity = $('#entity-name');
var info = $('#info');
var padding = parseFloat(entity.css('padding-right'));
var translate = entity.outerWidth() - entity.find('span').width() - padding;
var position = parseFloat(info.css('left'));
info.css('left', (position - translate) + 'px');

</script>
{% endblock %}