{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Nuevo proceso de acogida{% endblock %}

{% block content %}
        <div id="badge-creator">
            <img id="badge_img" src="{{object.base_img.url}}">
            <div class="resizedrag-label" id="entity-name">
                 <span>{{entity.display_name}}</span>
                <div class="resize-handle"> </div>
              </div>
            <div class="resizedrag-label" id="achievement">
                 {% if object.include_labels %}<strong>LOGRO {{object.year}}</strong>{% endif %}
                {{balance.achievement}}
                <div class="resize-handle"> </div>
              </div>

            <div class="resizedrag-label" id="challenge">
                {% if object.include_labels %}<strong>RETO {{object.year|add:1}}</strong>{% endif %}
                 {{balance.challenge}}
                <div class="resize-handle"> </div>
              </div>

            <div class="resizedrag-label" id="info">
                 {{ entity.num_workers }} trabajador@{% if entity.num_workers > 1 %}s{% endif %}<br>
                 desde {{ entity.start_year }}
                <div class="resize-handle"> </div>
              </div>
        </div>

{% endblock %}

{% block extra_styles %}
<style>
    @font-face {
      font-family: 'Coolvetica';
      src: URL('{% static 'fonts/coolvetica.ttf' %}') format('truetype');
    }

    #badge-creator{
        width:100%;
        background-color:#eee;
        position:relative;
    }

    #badge_img{
        width:100%;
    }
    #entity-name, #info{
        font-family: 'Coolvetica';
        color:#663879;
        line-height:0.95;
    }
    .resizedrag-label {
      color: #111;
      font-size: 20px;
      font-family: sans-serif;
      border-radius: 2px;
      padding: 5px;
      touch-action: none;
        user-select: none;

        position:absolute;
        top:0;
      width: 40vw;

      /* This makes things *much* easier */
      box-sizing: border-box;
    }

</style>
{% endblock extra_styles %}

{% block scripts %}
    <script src="{% static 'js/jquery.resizetext.js' %}?v=6"></script>
<script type="text/javascript">

var layout_data = {{object.layout_json|safe }};

var min_font = 100;
for (var i = 0; i < layout_data.length; i++) {
    var label = layout_data[i];
    var elem = $('#'+label['id']);
    elem
        .css('width', label['width']+'%')
        .css('height', label['height']+'%')
        .css('top', label['top']+'%')
        .css('left', label['left']+'%')
        .resizeText();

    if (label['id'] == 'info'){
        continue;
    }
    min_font = Math.min(min_font, parseFloat(elem.css('font-size')));
}

$('#achievement,#challenge').css('font-size', min_font+'px');

var target = $('#badge_img');
var entity = $('#entity-name');
var info = $('#info');

var infoLeftPos = parseFloat(info.css('left'));
var infoTopPos = parseFloat(info.css('top'));
var entityLeftPos =  parseFloat(entity.css('left')) + entity.outerWidth();
var entityBottomPos = parseFloat(entity.css('top')) + entity.outerHeight();

// Only reposition the info textbox if it was located to the left of the entity name
if ((infoLeftPos > entityLeftPos) && (infoTopPos < entityBottomPos)){
    var padding = parseFloat(entity.css('padding-right'));
    var translate = entity.outerWidth() - entity.find('span').width() - padding*2;
    info.css('left', (infoLeftPos - translate) + 'px');
}

</script>
{% endblock %}