{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Nuevo proceso de acogida{% endblock %}


{% block content %}
        <div id="badge-creator">
            <img id="badge_img" src="{{object.base_img.url}}">
            <div class="resizedrag-label" id="entity-name">
                 {{entity.display_name}}
                <div class="resize-handle"> </div>
              </div>
            <div class="resizedrag-label" id="achievement">
                 {% if object.include_labels %}<strong>LOGRO {{object.year}}</strong>{% endif %}
                {{balance.achievement}}
                <div class="resize-handle"> </div>
              </div>

            <div class="resizedrag-label" id="challenge">
                {% if object.include_labels %}<strong>RETO {{object.year|add:1}}</strong>{% endif %}
                 {{balance.challenge}}
                <div class="resize-handle"> </div>
              </div>
        </div>

{% endblock %}

{% block extra_styles %}
<style>
    @font-face {
      font-family: 'Coolvetica';
      src: URL('{% static 'fonts/coolvetica.ttf' %}') format('truetype');
    }

    #badge-creator{
        width:100%;
        background-color:#eee;
        position:relative;
    }

    #badge_img{
        width:100%;
    }
    #entity-name{
        font-family: 'Coolvetica';
        color:#663879;
        line-height:0.95;
    }
    .resizedrag-label {
      color: #111;
      font-size: 20px;
      font-family: sans-serif;
      border-radius: 2px;
      padding: 5px;
      touch-action: none;
        user-select: none;

        position:absolute;
        top:0;
      width: 40vw;

      /* This makes things *much* easier */
      box-sizing: border-box;
    }

</style>
{% endblock extra_styles %}

{% block scripts %}
    <script src="{% static 'js/jquery.resizetext.js' %}?v=6"></script>
<script type="text/javascript">

var layout_data = {{object.layout_json|safe }};

var min_font = 100;
for (var i = 0; i < layout_data.length; i++) {
    var label = layout_data[i];
    var elem = $('#'+label['id']);
    elem
        .css('width', label['width']+'%')
        .css('height', label['height']+'%')
        .css('top', label['top']+'%')
        .css('left', label['left']+'%')
        .resizeText();
    min_font = Math.min(min_font, parseFloat(elem.css('font-size')));
}

$('#achievement,#challenge').css('font-size', min_font+'px');

var target = $('#badge_img');

$("form").on('change', 'input[type="file"]', function(){
        var input = this;
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
            target.attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }).on('submit', function(e){
        var width = target.outerWidth();
        var height = target.outerHeight();
        var labels = [];

        $('.resizedrag-label').each( function(){
            var elem = $(this);
            var data = {
                'id': elem.attr('id'),
                'width': elem.outerWidth() * 100 / width,
                'left': elem.attr('data-x') * 100 / width,
                'height': elem.outerHeight() * 100 / height,
                'top': elem.attr('data-y') * 100 / height
            }
            labels.push(data);
        });

        $(this).find('[name="layout_json"]').val(JSON.stringify(labels));
    });

</script>
{% endblock %}