{% extends 'base.html' %}
{% load settings_value %}
{% block title %}Acogida{% endblock %}


{% block content %}

    <div class="jumbotron py-4 px-2">
        <div class="container-fluid">
            <div class="row">
            <div class="col-md-6">
                <h4 class="mb-0"><a href="{% url 'accounts:signup_list' %}">Acogidas</a><i class="material-icons md-18 ">arrow_forward_ios</i> {{object.name}}</h4>
            </div>
            <div class="col-md-3">
                <i class="material-icons mr-2 text-primary">account_circle</i>{{object.contact_person}}<br>
                <i class="material-icons mr-2 text-primary">email</i>{{object.contact_email}}<br>
                <i class="material-icons mr-2 text-primary">phone</i>{{object.contact_phone}}<br>
            </div>

            <div class="col-md-3 text-sm-right">
                {% if perms.accounts.mespermission_can_update_signups and not object.workflow.completed and not object.cancelled %}
                <a href="#" data-toggle="modal" data-target="#cancel-process" class="btn btn-primary"><i class="material-icons mr-2">block</i> Cancelar proceso</a>
                {% endif %}
            </div>
        </div>
        </div>
    </div>

    <div class="container">
        <div class="row mt-4">
            <div class="col-md-6">

                    <div class="pb-2 pr-2">
                        <div class="card-body pl-4">
                             {% if first_step %}
                            <h5 class="card-title">Formulario de inscripción</h5>
                            La entidad aún no ha rellenado el formulario de inscripción. Para facilitar el seguimiento del proceso,
                            facilitar el enlace del formulario personalizado<br><small>
                            {% settings_value 'BASESITE_URL' %}{% url 'accounts:signup_form' object.uuid %}</small>
                            <div class="mt-2">
                            <a class="btn btn-light mr-2" href="{% settings_value 'BASESITE_URL' %}{% url 'accounts:signup_form' object.uuid %}">Ver cuestionario</a>
                            <a href="#" class="btn btn-secondary copy-clipboard" data-clipboard-text="{% settings_value 'BASESITE_URL' %}{% url 'accounts:signup_form' object.uuid %}"><i class="material-icons mr-2">link</i>Copiar enlace</a>
                             </div>
                            {% endif %}

                            {% if object.account %}
                                {% include 'account/simple_profile.html' with account=object.account %}
                                <div class="profile h-auto">
                                    {% if object.from_app %}<div class="pb-3"> <i class="material-icons mr-3">phone_iphone</i> Registrada desde la app </div> {% endif %}
                                    {% if object.newsletter_check %}
                                        <div class="pb-3"> <i class="material-icons mr-3">check_circle_outline</i> Incluir en listas de distribución de correo </div>
                                    {% else %}
                                       <div class="pb-3"> <i class="material-icons mr-3">highlight_off</i> No incluir en listas de distribución de correo </div>
                                    {% endif %}

                                    {% if object.reference %}
                                          <div class="pb-3">
                                              <i class="material-icons mr-3">contact_support</i> <strong>¿Cómo nos has conocido? </strong>
                                              <div class="ml-5"> {{ object.reference }} </div>
                                          </div>
                                    {% endif %}

                                    <a class="btn btn-secondary" href="{% settings_value 'BASESITE_URL' %}{% url 'accounts:signup_form' object.uuid %}">Ver cuestionario</a>
                                </div>

                            <div class=""></div>

                                {% endif %}
                        </div>
                    </div>


{% if payment_step and payment %}
    <span class="badge badge-primary mb-2 mt-2">Pago</span>
    {% include 'payments/reference.html' with payment=payment %}
{% endif%}

<span class="badge badge-primary mt-2">Estado actual</span>
<div class="process-stepper">
{% if object.cancelled %}
    {% include 'bpm/workflow_step_cancelled.html' with big=True %}
{% else %}
    {% if object.workflow.completed %}
            {% include 'bpm/workflow_step_completed.html' with big=True %}
    {% else %}
                {% include 'bpm/workflow_step.html' with step=object.workflow.current_state big=True %}
    {% endif %}
{% endif %}
</div>


{% if not object.workflow.completed and not object.cancelled%}
    <form class="mb-4" method="post" action="{% url 'bpm:add_workflow_event' %}">
        {% if not first_step %}
        {% if perms.accounts.mespermission_can_update_signups %}
        <input type="submit" name="complete_step" class="btn btn-lg btn-primary mr-3" value="Completar paso" />
        {% endif %}
        {% endif %}

        {% if perms.accounts.mespermission_can_comment_signups %}
            {% include 'bpm/comment_form.html' %}
        {% endif %}
        {% csrf_token %}

    </form>

     <form method="post" action="{% url 'accounts:cancel_signup' %}">
         {% csrf_token %}
         <input type="hidden" name="redirect_to" value="{{redirect_to|default:request.path }}">
        <input type="hidden" name="process" value="{{object.pk}}">

        <div class="modal fade" id="cancel-process" tabindex="-1" role="dialog" aria-labelledby="cancel-process-label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="cancel-process-label">Cancelar proceso</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body text-center">
              <div class="mb-4 display-2 text-muted"> <i class="material-icons">error_outline</i></div>
              <p class="lead">¿Estás segura de que deseas cancelar el proceso?</p>
               Esta acción cerrará el proceso de acogida en negativo.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Confirmar</button>
          </div>
        </div>
      </div>
    </div>

     </form>

{% endif %}
    </div>

    <div class="col-md-6">
        <h5>Historial</h5>
        {% include 'bpm/history.html' with workflow=object.workflow %}
    </div>
</div>

{% endblock %}

        {% block scripts %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
        <script type="text/javascript">
            new ClipboardJS('.copy-clipboard');
        </script>

        {% endblock %}