{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Mercado Social - Nueva acogida{% endblock%}

{% block content %}
{% if not 'from_app' in request.GET %}
<div class="jumbotron py-4 px-2">
        <div class="container">
            <div class="row">
            <div class="col-sm-12">
                 <h4 class="mb-0">Nueva acogida</h4>
            </div>
        </div>
        </div>
    </div>
{% endif %}

    <div class="container py-5">
        <h4>¡Tu solicitud se ha registrado correctamente!</h4>
        En breve recibirás información en tu correo electrónico sobre los siguientes pasos.

        <div class="text-center mt-3">
            <img src="{% static 'imgs/people-success.png' %}" class="img-fluid">
        </div>

        {% if payment %}
            <h4>Pago de cuota</h4>
            Si quieres, puedes realizar el pago de tu cuota con tarjeta en este momento en vez de esperar
            a que se te domicilie.

            {% include 'payments/payment_form_card.html' %}
        {% endif %}
    </div>
{% endblock content %}