{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Mi perfil{% endblock %}

{% block bodyattrs %} id="login-page" class="main-bg" {% endblock%}

{% block content %}


 <div class="jumbotron py-4 px-2">
        <div class="container">
            <div class="row">
            <div class="col-sm-7 col-md-8">
                <h4 class="mb-0 breadcrumbs"><a href="{% url 'management:users_list' %}">Usuarios</a><i class="material-icons md-18 ">arrow_forward_ios</i>{{object.username}}</h4>
                {{object.get_full_name}}
            </div>

            <div class="col-sm-5 col-md-4 text-sm-right">
                <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#password-modal"><i class="material-icons mr-2">add</i> Modificar contraseña</a>
            </div>
        </div>
        </div>
    </div>

<ul class="nav nav-justified nav-tabs" id="tabs-content" role="tablist">
      <li class="nav-item">
        <a aria-controls="profile" aria-selected="true" class="nav-link {% if form_focus == 'profile_form' %}active{%endif%}" data-toggle="tab" href="#profile-form" id="profile-tab" role="tab">Perfil</a>
      </li>

      <li class="nav-item">
        <a aria-controls="groups" aria-selected="false" class="nav-link {%if group_tab %} active{%endif%}" data-toggle="tab" href="#group-form" id="group-tab" role="tab">Comisiones</a>
      </li>

    <li class="nav-item">
        <a aria-controls="groups" aria-selected="false" class="nav-link {%if group_tab %} active{%endif%}" data-toggle="tab" href="#history-form" id="history-tab" role="tab">Historial</a>
      </li>
</ul>

<div class="tab-content" id="profile-password-tabs">
  <div aria-labelledby="profile-tab" class="tab-pane p-5 {%if profile_tab%}show active{%endif%}" id="profile-form" role="tabpanel">

  <form method="post" class="edit-form" >
    {% csrf_token %}
        <h4><i class="material-icons mr-3">account_circle</i> Datos de perfil</h4>
      <div class="row mt-4">
          <div class="col-sm-12">
              {% include "common/forms/field.html" with field=profile_form.username %}
          </div>

          <div class="col-sm-12">
              {% include "common/forms/field.html" with field=profile_form.email %}
          </div>

          <div class="col-sm-9">
              {% include "common/forms/field.html" with field=profile_form.first_name %}
          </div>

          <div class="col-sm-12 ">
              {% include "common/forms/field.html" with field=profile_form.last_name %}
          </div>

      </div>
      <p class="text-center">
          <button type="submit" name="profile_form" class="btn btn-primary btn-lg">Guardar cambios</button>
      </p>
  </form>

  </div>

    <div aria-labelledby="group-tab" class="tab-pane p-4 p-5 {%if password_tab%}show active{%endif%}" id="group-form" role="tabpanel">

        <h4><i class="material-icons mr-3 mb-4">group</i> Comisiones y permisos del usuario</h4>

      {% for group in object.groups.all %}
        <h4>
            {% include 'commission/_symbol.html' with commission=group.comission %} {{group}}
        </h4>
        <div class="pl-4">
        {% for perm in group.permissions.all %}
            {{ perm.name }}<br>
        {% endfor %}
        </div>
        <hr>

        {% empty %}
        El usuario no pertenece a ninguna comisión...
    {% endfor %}

    </div>

    <div aria-labelledby="history-tab" class="tab-pane p-4 p-5 {% if history_tab%}show active{% endif %}" id="history-form" role="tabpanel">

        <h4><i class="material-icons mr-3 mb-4">group</i> Historial de acciones</h4>
        Próximamente...

    </div>
</div>


<div class="modal  {% if form_focus == 'password_form' %}show-at-load{%endif%}" id="password-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <form method="post" class="edit-form">
      <div class="modal-header">
        <h5 class="modal-title"><i class="material-icons">vpn_key</i> Modificar contraseña</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
                 {% csrf_token %}
                <div class="row justify-content-md-center">
                    <div class="col-md-12">
                        {% include "common/forms/field.html" with field=password_form.old_password %}
                    </div>
                    <div class="col-md-12">
                        {% include "common/forms/field.html" with field=password_form.new_password1 %}
                    </div>

                    <div class="col-md-12">
                        {% include "common/forms/field.html" with field=password_form.new_password2 %}
                    </div>
                </div>

                <p class="text-center">

              </p>

      </div>
        <div class="modal-footer">
            <button type="button" class="btn" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary" name="password_form" >Cambiar contraseña</button>
        </div>
        </form>
    </div>
  </div>
</div>


{% endblock %}