{% extends 'common/email/base.html' %}
{% load settings_value %}

{% block title %}Registro{% endblock %}

{% block maintitle %}Bienvenid@ al Mercado Social!{% endblock %}

{% block content %}

<h2 style="color: #757575; line-height: 100%;">Hola, </h2>


<p>Recibes este email porque "{{invited_by}}" te invita a crearte una cuenta temporal con la que poder probar el nuevo
sistema de bonificación, los etics.</p>
<p>Puedes completar tu registro en el siguiente enlace único: {% settings_value 'BASESITE_URL' %}{% url 'currency:invite' token %}</p>
<p></p>

{% endblock%}

{% block call_button %}

{% url 'currency:invite' token as link %}
{% settings_value 'BASESITE_URL' as basesite %}

{% include 'common/email/button.html' with link_text='Registro' link_href=basesite|add:link %}
{% endblock call_button %}