{% extends 'common/list/base.html' %}
{% load staticfiles %}

 {% block table_head %}
    <th scope="col"></th>

{% endblock %}


{% block item_row %}

<td class="entity-td">
   {% with item.social_balance.0 as balance %}
   <div class="row py-4">
      <div class="col-md-3 col-sm-4 col-lg-2">
         <div style="max-width:300px;" class="text-center m-auto">
            <img class="rounded img-fluid mb-3" src="{% if item.logo %}{{item.logo.url}}{% else %}{% static 'imgs/provider-icon.png' %}{% endif %}">
         </div>

      </div>
      <div class="col-md-5 col-sm-8 col-lg-6">

         <h3>{{item.display_name}}</h3>
         <p>{{item.short_description}}</p>
         <strong class="lead">{{item.public_address}}</strong>
         {% include 'common/social_links.html' with obj=item %}
      </div>
      <div class="col-md-4">
         <h4 class="text-primary text-center">Balance social</h4>
         <div class="text-center">
            <div style="max-width:400px;" class="text-center m-auto">
               {% include 'balance/current_balance.html' with balance=balance badge=current_badge %}
            </div>
         </div>
      </div>
   </div>

   {% endwith %}
</td>

{% endblock %}